@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ProfileViewModel>

@using Quiz.Site.Models
@using Umbraco.Cms.Core
@{
    var defaultMediaItem = Umbraco.Media(Udi.Create("media", new Guid("65da644d-3fba-41c8-8173-2a924d96bba4")));
    var fallbackImageUrl = defaultMediaItem.GetCropUrl(100, 100);
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-12 text-center">
            <p>You need to be logged in before you view your profile. <a href="/login/">Login</a></p>
        </div>
    </div>
}
else
{
    <dl>
        <dt>Avatar:</dt>
        <dd><img class="rounded" src="@(Model.AvatarUrl ?? fallbackImageUrl)" /></dd>
        <dt>Name:</dt>
        <dd>@Model.Name</dd>
    </dl>

    <a href="/edit-profile/">Edit profile</a>
}
