@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ProfileViewModel>

@using Quiz.Site.Models

<dl>
    <dt>Avatar:</dt>
    <dd><img class="rounded" src="@(Model.Avatar?.GetCropUrl(120,120) ?? "")" /></dd>
    <dt>Name:</dt>
    <dd>@Model.Name</dd>
</dl>

@if (!User.Identity.IsAuthenticated)
{
    <a href="/edit-profile/">Edit profile</a>
}
