@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var profilePage = homePage.FirstChildOfType(ProfilePage.ModelTypeAlias);
    var leaderboardPage = homePage.FirstChildOfType(LeaderboardPage.ModelTypeAlias);

    var navLinks = new List<IPublishedContent>();
    navLinks.Add(profilePage);
    navLinks.Add(leaderboardPage);
}

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
                <div class="container-fluid ps-2 pe-0">
                    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
                        Umbraco Community Quiz
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover mx-auto">
                            @foreach(var item in navLinks)
                            {
                                <li class="nav-item mx-2">
                                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center " href="@item.Url()">
                                        @item.Name
                                    </a>
                                </li>
                            }
                            @*<li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center " id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center " id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center " id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center " id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages
                                </a>
                            </li>*@
                        </ul>
                        <ul class="navbar-nav d-lg-block d-none">
                            <li class="nav-item">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginUmbracoForm("Logout", "AuthSurface", FormMethod.Post))
                                    {
                                        <button class="btn btn-sm  btn-primary  mb-0 me-1" type="submit">Logout</button>
                                    }
                                }
                                else
                                {
                                    <a href="/login/" class="btn btn-sm  btn-primary  mb-0 me-1">Login</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>