@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var image = Model.Value<IPublishedContent>("sideBannerImage", fallback: Fallback.ToAncestors);
    var title = Model.Value<string>("sideBannerTitle", fallback: Fallback.ToAncestors);
    var description = Model.Value<string>("sideBannerSummary", fallback: Fallback.ToAncestors);
}

@if(image != null)
{
    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
        <div class="position-relative bg-gradient-dark h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('@image.GetCropUrl(800,800)');
              background-size: cover;">
            <span class="mask bg-dark opacity-6"></span>
            <h4 class="mt-5 text-white font-weight-bolder position-relative">@title</h4>
            <p class="text-white position-relative">@description</p>
        </div>
    </div>
}
