<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7b8614c-6eca-4a93-9cb9-264a53744099" Alias="badgePage" Level="2">
  <Info>
    <Name>Badge Page</Name>
    <Icon>icon-badge color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e15a3f4f-a038-4cf1-8a27-6ff801407be2">badgeProperties</Composition>
    </Compositions>
    <DefaultTemplate>BadgePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8a57e27e-d883-4bda-bc8c-ee78a7fc44f9">BadgePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>