<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fca00451-dad3-4be6-9ae1-3084ac6249fb" Alias="badgeListPage" Level="2">
  <Info>
    <Name>Badge List Page</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>BadgeList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6fac0c5b-ffd8-4d0b-8c84-757fdcb910ca">BadgeList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b7b8614c-6eca-4a93-9cb9-264a53744099" SortOrder="0">badgePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>