<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="400ddb4f-315c-4ad8-bd71-7dc829cd6dd2" Alias="editProfilePage" Level="2">
  <Info>
    <Name>Edit Profile Page</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>EditProfilePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40b51192-c949-4aa8-acd9-474304033959">EditProfilePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>