<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7ae0c1e-06f8-4f6b-b962-162d76d714e6" Alias="profilePage" Level="2">
  <Info>
    <Name>Profile Page</Name>
    <Icon>icon-umb-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ProfilePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="11c0ef8e-49de-4de6-b520-8f151d8c8301">ProfilePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>