<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="064df189-378b-47e7-b03e-d50ee8130f09" Alias="questionListPage" Level="2">
  <Info>
    <Name>Question List Page</Name>
    <Icon>icon-help color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>QuestionListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="32a505a8-7c18-4cc6-bfa8-bda9ac75b18e">QuestionListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>