<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c69b4102-8dbb-4685-97cb-b8742e26e819" Alias="questionSubmissionPage" Level="2">
  <Info>
    <Name>Question Submission Page</Name>
    <Icon>icon-browser-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>QuestionSubmissionPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e5870e8d-2b57-4ffb-bdc6-d3f9317085fc">QuestionSubmissionPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>