<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07141b0b-f9b5-440f-a05a-c0bd35ebc359" Alias="quizPage" Level="2">
  <Info>
    <Name>Quiz Page</Name>
    <Icon>icon-help-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Quiz</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="597ca6ae-ecaa-4a64-a3cc-81f3d96de9cd">Quiz</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>