<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48ebb649-19e9-44ac-8886-0a0425b3309f" Alias="quizList" Level="2">
  <Info>
    <Name>Quiz List</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>QuizList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da0e6944-78e7-4146-803a-f3f45e4e9f39">QuizList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>