<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07141b0b-f9b5-440f-a05a-c0bd35ebc359" Alias="quizPage" Level="2">
  <Info>
    <Name>Quiz Page</Name>
    <Icon>icon-help-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="50fe2e9d-cbca-41ce-9a1e-9eee33525e4c">quizProperties</Composition>
    </Compositions>
    <DefaultTemplate>QuizPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4243d72b-e507-4bdb-8687-57bd1e20da55">QuizPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>