@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/profile/">
            <i class="fab fa-umbraco"></i>
            <span class="ms-1 font-weight-bold">Umbraco Community Quiz</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item mt-3">
                <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">PAGES</h6>
            </li>
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#profileNav" class="nav-link " aria-controls="profileNav" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fa fa-user text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Profile</span>
                </a>
                <div class="collapse" id="profileNav">
                    <ul class="nav ms-4">
                        <li class="nav-item ">
                            <a class="nav-link " href="/profile/">
                                <span class="sidenav-mini-icon"> P </span>
                                <span class="sidenav-normal"> Profile Page </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="/edit-profile/">
                                <span class="sidenav-mini-icon"> E </span>
                                <span class="sidenav-normal"> Edit Profile </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#quizNav" class="nav-link " aria-controls="quizNav" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fas fa-question-circle text-info text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Quiz</span>
                </a>
                <div class="collapse" id="quizNav">
                    <ul class="nav ms-4">
                        <li class="nav-item ">
                            <a class="nav-link " href="/leaderboard/">
                                <span class="sidenav-mini-icon"> L </span>
                                <span class="sidenav-normal"> Leaderboard </span>
                            </a>
                        </li>
                        @{
                            var quizzes = Model.AncestorOrSelf<HomePage>().ChildrenOfType(QuizListPage.ModelTypeAlias).FirstOrDefault();
                        }
                        @if(quizzes != null && quizzes.Children != null && quizzes.Children.Any())
                        {
                            var index = 1;
                            foreach(var quiz in quizzes.Children.OrderByDescending(x => x.CreateDate))
                            {
                                <li class="nav-item ">
                                    <a class="nav-link " href="@quiz.Url()">
                                        <span class="sidenav-mini-icon"> Q@(index) </span>
                                        <span class="sidenav-normal"> @quiz.Name </span>
                                    </a>
                                </li>
                                index++;
                            }
                        }
                        <li class="nav-item ">
                            <a class="nav-link " href="/submit/">
                                <span class="sidenav-mini-icon"> S </span>
                                <span class="sidenav-normal"> Submit Question </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="/my-questions/">
                                <span class="sidenav-mini-icon"> M </span>
                                <span class="sidenav-normal"> My Questions </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidenav-footer mx-3 position-absolute bottom-4">
        <div class="card card-plain shadow-none" id="sidenavCard">
            <div class="card-body text-center p-3 w-100 pt-0">
                <div class="docs-info">
                    <p class="text-xs font-weight-bold mb-0">Hosted on:</p>
                </div>
            </div>
            <a href="https://my.umbhost.net/aff.php?aff=1534" class="text-center">
                <img class="w-75" src="https://umbhost.net/media/3fvalp2g/umbhost-new-logo-eco-colour.svg" alt="UmbHost Limited - Umbraco Hosting">
            </a>
        </div>
    </div>
</aside>
