<?xml version="1.0" encoding="utf-8"?>
<Media Key="15d565f5-0b58-454e-8e9e-08ea02280fcd" Alias="264387B7 A633 4888 A7E5 259AE8503274" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/B7A6334888A7E5259AE8503274</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T18:48:50</CreateDate>
    <NodeName Default="264387B7 A633 4888 A7E5 259AE8503274" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4nsnkfky/264387b7-a633-4888-a7e5-259ae8503274.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>