<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a260c4a-0e76-4a51-97bf-e9284ecc85ae" Alias="4" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T13:54:20</CreateDate>
    <NodeName Default="4" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jqgcm0tw/4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>