<?xml version="1.0" encoding="utf-8"?>
<Media Key="275ade8e-ac06-4712-9bdb-6f71183608fb" Alias="47971109658 83De85a98b O2" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/De85a98bO2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T14:16:51</CreateDate>
    <NodeName Default="47971109658 83De85a98b O2" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rdpfujyg/47971109658_83de85a98b_o2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>