<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba3ed6ed-8c02-444d-b308-03f035452c58" Alias="Address Card" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AddressCard</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:58</CreateDate>
    <NodeName Default="Address Card" />
    <SortOrder>458</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1tld3oqc/address-card.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>