<?xml version="1.0" encoding="utf-8"?>
<Media Key="5182e193-5d82-4fa0-98ea-dfb09a51f40e" Alias="Adn" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Adn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:05</CreateDate>
    <NodeName Default="Adn" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulqjeumc/adn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>