<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf8ab77b-960b-4ace-8b1f-3cdaca0f0618" Alias="Air Freshener" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AirFreshener</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:48</CreateDate>
    <NodeName Default="Air Freshener" />
    <SortOrder>613</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jk1jvpyl/air-freshener.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>