<?xml version="1.0" encoding="utf-8"?>
<Media Key="f67af696-5d4b-4add-a6c6-303b5b0e39e4" Alias="Align Justify" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AlignJustify</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:49</CreateDate>
    <NodeName Default="Align Justify" />
    <SortOrder>615</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u51hv3sl/align-justify.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>