<?xml version="1.0" encoding="utf-8"?>
<Media Key="d45b6932-93d1-4655-9142-5bce091b41e1" Alias="Allergies" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Allergies</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:50</CreateDate>
    <NodeName Default="Allergies" />
    <SortOrder>618</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/anufxvgr/allergies.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>