<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b1bd8f8-84cd-4481-aa2d-5729253a196b" Alias="Angellist" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Angellist</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:06</CreateDate>
    <NodeName Default="Angellist" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zhmbxc4n/angellist.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>