<?xml version="1.0" encoding="utf-8"?>
<Media Key="185d4a60-020f-496e-92c2-3a801bb45ec1" Alias="Angle Right" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AngleRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:52</CreateDate>
    <NodeName Default="Angle Right" />
    <SortOrder>628</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kfff0gap/angle-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>