<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0f1858c-dea9-4540-a017-bf863270e3a2" Alias="Angle Down" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AngleDown</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:52</CreateDate>
    <NodeName Default="Angle Down" />
    <SortOrder>626</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xwcpdqfj/angle-down.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>