<?xml version="1.0" encoding="utf-8"?>
<Media Key="76062e17-e5e1-44c2-8ab6-58deadc29f84" Alias="Angle Double Right" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AngleDoubleRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:51</CreateDate>
    <NodeName Default="Angle Double Right" />
    <SortOrder>624</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eyxam3xb/angle-double-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>