<?xml version="1.0" encoding="utf-8"?>
<Media Key="677dfda1-b756-42af-a1e4-8c8e3fd782e0" Alias="Angrycreative" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Angrycreative</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:07</CreateDate>
    <NodeName Default="Angrycreative" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sd4h0z0w/angrycreative.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>