<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f8ac4b1-d092-4eb7-b7a9-4bb1df423d1a" Alias="Angry" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Angry</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:58</CreateDate>
    <NodeName Default="Angry" />
    <SortOrder>459</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qdcivh2s/angry.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>