<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9685d3e-0973-4c47-809b-0a985347d61b" Alias="App Store Ios" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AppStoreIos</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:07</CreateDate>
    <NodeName Default="App Store Ios" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3ohr4lt/app-store-ios.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>