<?xml version="1.0" encoding="utf-8"?>
<Media Key="76c25a1b-7e73-45e6-b9c9-d69621f72dbb" Alias="Archive" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Archive</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:54</CreateDate>
    <NodeName Default="Archive" />
    <SortOrder>633</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjnme3tt/archive.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>