<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc113a71-6bd4-4c64-a43f-557f4b4046bc" Alias="Arrow Circle Right" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowCircleRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:56</CreateDate>
    <NodeName Default="Arrow Circle Right" />
    <SortOrder>641</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ia3bd5gu/arrow-circle-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>