<?xml version="1.0" encoding="utf-8"?>
<Media Key="087a54b3-73b6-4492-ad11-1ae99960c8c2" Alias="Arrow Alt Circle Left (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowAltCircleLeft1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:55</CreateDate>
    <NodeName Default="Arrow Alt Circle Left (1)" />
    <SortOrder>636</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qjkhucfw/arrow-alt-circle-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>