<?xml version="1.0" encoding="utf-8"?>
<Media Key="cacd6a50-e047-4029-bbc4-477dea87d7ba" Alias="Arrow Alt Circle Left" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowAltCircleLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:59</CreateDate>
    <NodeName Default="Arrow Alt Circle Left" />
    <SortOrder>461</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mfvm1ssh/arrow-alt-circle-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>