<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc8b7e6a-38aa-42a0-ab0e-22f97dc66afd" Alias="Arrow Circle Down" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowCircleDown</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:56</CreateDate>
    <NodeName Default="Arrow Circle Down" />
    <SortOrder>639</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ln5ixtfk/arrow-circle-down.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>