<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd622746-ebce-4cf8-9246-a3d0558c1b55" Alias="Arrow Right" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:57</CreateDate>
    <NodeName Default="Arrow Right" />
    <SortOrder>645</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o2thfpoo/arrow-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>