<?xml version="1.0" encoding="utf-8"?>
<Media Key="38819ccd-228c-493e-b4e9-8b6df480c50f" Alias="Arrow Left" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:57</CreateDate>
    <NodeName Default="Arrow Left" />
    <SortOrder>644</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5soicoem/arrow-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>