<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f45d076-b679-41df-a133-75783a35eee8" Alias="Arrow Circle Left" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowCircleLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:56</CreateDate>
    <NodeName Default="Arrow Circle Left" />
    <SortOrder>640</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i5ield1z/arrow-circle-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>