<?xml version="1.0" encoding="utf-8"?>
<Media Key="80aea669-bf0a-4626-a495-933aa79fa50f" Alias="Arrow Alt Circle Down" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowAltCircleDown</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:58</CreateDate>
    <NodeName Default="Arrow Alt Circle Down" />
    <SortOrder>460</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lctk3aak/arrow-alt-circle-down.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>