<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f12c256-ad8c-4c04-9608-6d4125a979a7" Alias="Arrows Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ArrowsAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:57</CreateDate>
    <NodeName Default="Arrows Alt" />
    <SortOrder>646</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m5bbfd2m/arrows-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>