<?xml version="1.0" encoding="utf-8"?>
<Media Key="e339d525-5a60-4af1-9571-ab88987df122" Alias="Audio Description" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/AudioDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:00</CreateDate>
    <NodeName Default="Audio Description" />
    <SortOrder>655</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ctkdty1a/audio-description.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>