<?xml version="1.0" encoding="utf-8"?>
<Media Key="080ecc56-4e03-4a6a-9b71-19e40ba5a9d0" Alias="Autoprefixer" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Autoprefixer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:08</CreateDate>
    <NodeName Default="Autoprefixer" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m5ga2cad/autoprefixer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>