<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a68e3e7-725a-4a03-a7d6-042c4a22bc87" Alias="Aws" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Aws</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:09</CreateDate>
    <NodeName Default="Aws" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/01rhqss0/aws.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>