<?xml version="1.0" encoding="utf-8"?>
<Media Key="fde7505c-f5fe-4810-9c8e-7b2f9f14f517" Alias="Baby" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Baby</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:00</CreateDate>
    <NodeName Default="Baby" />
    <SortOrder>657</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nviop5p4/baby.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>