<?xml version="1.0" encoding="utf-8"?>
<Media Key="69ca4f88-ea3a-4e49-91fb-e58b00a89908" Alias="Backward" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Backward</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:01</CreateDate>
    <NodeName Default="Backward" />
    <SortOrder>660</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xfhnu0j0/backward.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>