<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d9147a1-6bb9-4d37-9b17-2d2ffadf8578" Alias="Bacterium" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bacterium</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:02</CreateDate>
    <NodeName Default="Bacterium" />
    <SortOrder>663</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sbdjcpnz/bacterium.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>