<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd1b1e0c-76c8-4dc1-b235-9c196c51747e" Alias="Ban" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Ban</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:03</CreateDate>
    <NodeName Default="Ban" />
    <SortOrder>668</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hupbxtoi/ban.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>