<?xml version="1.0" encoding="utf-8"?>
<Media Key="afd8951f-2ae5-4951-82ec-7e1c1cc1c6f9" Alias="Battery Half" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/BatteryHalf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:06</CreateDate>
    <NodeName Default="Battery Half" />
    <SortOrder>677</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f0knrl5f/battery-half.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>