<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfc18e3c-ca80-49bd-9400-b4d387814a21" Alias="Bed" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bed</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:07</CreateDate>
    <NodeName Default="Bed" />
    <SortOrder>680</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bwhmdp2a/bed.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>