<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b59d867-c02e-4adf-83e8-1e6c0141d6da" Alias="Bell Slash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/BellSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:59</CreateDate>
    <NodeName Default="Bell Slash" />
    <SortOrder>465</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k1mftgzo/bell-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>