<?xml version="1.0" encoding="utf-8"?>
<Media Key="d94fb106-f078-48c4-bd0f-b73da32ed1a5" Alias="Bell" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bell</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:59</CreateDate>
    <NodeName Default="Bell" />
    <SortOrder>464</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g4yf5wly/bell.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>