<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bd14a42-05e7-4fd8-bdab-923ca7b1525f" Alias="Bell (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bell1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:07</CreateDate>
    <NodeName Default="Bell (1)" />
    <SortOrder>682</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/onfnc45h/bell.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>