<?xml version="1.0" encoding="utf-8"?>
<Media Key="257b14fc-26c7-4200-ab47-8ab8f3dbf4b5" Alias="Biking" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Biking</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:09</CreateDate>
    <NodeName Default="Biking" />
    <SortOrder>687</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zukhwjoh/biking.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>