<?xml version="1.0" encoding="utf-8"?>
<Media Key="c30a15a4-cc71-4f26-9b76-ea17ec87a462" Alias="Biohazard" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Biohazard</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:09</CreateDate>
    <NodeName Default="Biohazard" />
    <SortOrder>689</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sukbvq1r/biohazard.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>