<?xml version="1.0" encoding="utf-8"?>
<Media Key="08da0796-2680-4aff-ae7a-405b7896b500" Alias="Bity" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bity</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:10</CreateDate>
    <NodeName Default="Bity" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u2dnucea/bity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>