<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a54027a-2cfd-4a84-8cf7-e6a8e6c5bf5d" Alias="Black Tie" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/BlackTie</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:10</CreateDate>
    <NodeName Default="Black Tie" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jmbfisx3/black-tie.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>