<?xml version="1.0" encoding="utf-8"?>
<Media Key="62cd27c9-24eb-4ba4-8c24-b37ee1d83db8" Alias="Blake Cheese" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/BlakeCheese</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T14:47:57</CreateDate>
    <NodeName Default="Blake Cheese" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z2tn0yxl/blake-cheese.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>