<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8ad29d1-7fc7-4a2a-a517-f82c38d82a60" Alias="Blake Cheese Circle" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/BlakeCheeseCircle</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T14:48:07</CreateDate>
    <NodeName Default="Blake Cheese Circle" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/02ul14gh/blake-cheese-circle.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>