<?xml version="1.0" encoding="utf-8"?>
<Media Key="f254ed40-1ef1-4784-8ecb-9431de3d60b8" Alias="Blogger B" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/BloggerB</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:10</CreateDate>
    <NodeName Default="Blogger B" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ohwfj2xr/blogger-b.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>