<?xml version="1.0" encoding="utf-8"?>
<Media Key="1da40ba4-1852-4d29-91d2-58ad6646b4d4" Alias="Bold" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bold</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:11</CreateDate>
    <NodeName Default="Bold" />
    <SortOrder>695</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/suflihks/bold.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>