<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5ec26ca-87f3-4e4b-ad8c-a05397de1cab" Alias="Bomb" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bomb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:11</CreateDate>
    <NodeName Default="Bomb" />
    <SortOrder>697</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5mtoznpt/bomb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>