<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bc42236-50b0-4193-bf6a-450a7508ed02" Alias="Bookmark (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bookmark1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:13</CreateDate>
    <NodeName Default="Bookmark (1)" />
    <SortOrder>702</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2rmis3q/bookmark.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>