<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6b2a41a-29d5-46b7-91a1-34ebc03af737" Alias="Book Reader" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/BookReader</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:14</CreateDate>
    <NodeName Default="Book Reader" />
    <SortOrder>705</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/foslfnwv/book-reader.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>