<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d85f1bf-5fc0-4f5c-882d-a019330635d4" Alias="Bookmark" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bookmark</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:00</CreateDate>
    <NodeName Default="Bookmark" />
    <SortOrder>466</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r1yjldoa/bookmark.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>