<?xml version="1.0" encoding="utf-8"?>
<Media Key="879a5070-5cc1-4652-804b-e0462a5d6c80" Alias="Bootstrap" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:11</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ifijvb4b/bootstrap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>