<?xml version="1.0" encoding="utf-8"?>
<Media Key="246921c2-2b6d-4900-856f-c451bd933161" Alias="Bowling Ball" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/BowlingBall</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:15</CreateDate>
    <NodeName Default="Bowling Ball" />
    <SortOrder>709</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4mqhsjdn/bowling-ball.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>