<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ec54678-af21-4855-a209-8b4fd8c2f424" Alias="Box" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Box</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:15</CreateDate>
    <NodeName Default="Box" />
    <SortOrder>710</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jfdmk5rb/box.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>