<?xml version="1.0" encoding="utf-8"?>
<Media Key="603bd847-982f-4fc9-ae75-4e537255b0ce" Alias="Broom" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Broom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:18</CreateDate>
    <NodeName Default="Broom" />
    <SortOrder>720</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o1mdwybp/broom.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>