<?xml version="1.0" encoding="utf-8"?>
<Media Key="42740c7b-2f23-4e11-a98c-21cf4a793d33" Alias="Bug" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bug</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:19</CreateDate>
    <NodeName Default="Bug" />
    <SortOrder>722</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jighiqrd/bug.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>