<?xml version="1.0" encoding="utf-8"?>
<Media Key="972ee849-8643-44c5-b2ec-d6af1cc6d1c2" Alias="Bullseye" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Bullseye</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:19</CreateDate>
    <NodeName Default="Bullseye" />
    <SortOrder>725</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pduc3f0d/bullseye.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>