<?xml version="1.0" encoding="utf-8"?>
<Media Key="0484ba94-070b-4e5e-8992-4f8cf6cf2b4c" Alias="Calendar Minus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CalendarMinus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:01</CreateDate>
    <NodeName Default="Calendar Minus" />
    <SortOrder>471</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uw3iibal/calendar-minus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>