<?xml version="1.0" encoding="utf-8"?>
<Media Key="134a4ace-abed-4026-afa1-e462943909ae" Alias="Calendar Alt (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CalendarAlt1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:22</CreateDate>
    <NodeName Default="Calendar Alt (1)" />
    <SortOrder>732</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/53feue5n/calendar-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>