<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ca8d6d3-dc90-4481-847e-c735fd8e4861" Alias="Calendar Day" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CalendarDay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:22</CreateDate>
    <NodeName Default="Calendar Day" />
    <SortOrder>734</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2llkqdeq/calendar-day.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>