<?xml version="1.0" encoding="utf-8"?>
<Media Key="e426be61-3b89-45c3-b374-e6f09ce3533c" Alias="Calendar Week" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CalendarWeek</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:23</CreateDate>
    <NodeName Default="Calendar Week" />
    <SortOrder>738</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kc5cnzej/calendar-week.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>