<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7aa40cc-9993-4781-8438-372cc90039b6" Alias="Calendar Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CalendarAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:01</CreateDate>
    <NodeName Default="Calendar Alt" />
    <SortOrder>469</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5vakv32t/calendar-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>