<?xml version="1.0" encoding="utf-8"?>
<Media Key="823a91f3-3147-47e6-9345-1280e7318af7" Alias="Canadian Maple Leaf" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CanadianMapleLeaf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:12</CreateDate>
    <NodeName Default="Canadian Maple Leaf" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ykidvash/canadian-maple-leaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>