<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfad758f-03b2-4422-9963-7ccb530b547b" Alias="Car Side" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CarSide</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:29</CreateDate>
    <NodeName Default="Car Side" />
    <SortOrder>759</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xz0l1t3s/car-side.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>