<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0b3f757-260a-474e-ac11-45096649f4af" Alias="Caret Square Up (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CaretSquareUp1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:29</CreateDate>
    <NodeName Default="Caret Square Up (1)" />
    <SortOrder>756</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m11lhiak/caret-square-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>