<?xml version="1.0" encoding="utf-8"?>
<Media Key="9850d369-0350-426e-b7c9-0d37ae581971" Alias="Caret Up" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CaretUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:29</CreateDate>
    <NodeName Default="Caret Up" />
    <SortOrder>757</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ldjfbgcq/caret-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>