<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4e3a7d4-1b6e-4c8a-bb0a-139a1c53c164" Alias="Cart Plus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CartPlus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:30</CreateDate>
    <NodeName Default="Cart Plus" />
    <SortOrder>761</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2wtphzdo/cart-plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>