<?xml version="1.0" encoding="utf-8"?>
<Media Key="318775d3-d780-4d47-892c-cfa9ab0c3c18" Alias="Cash Register" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CashRegister</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:31</CreateDate>
    <NodeName Default="Cash Register" />
    <SortOrder>762</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2j0jomma/cash-register.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>