<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd2d54d6-6a7c-4982-ac44-64d51e399605" Alias="Cat" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Cat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:31</CreateDate>
    <NodeName Default="Cat" />
    <SortOrder>763</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/23kc1pl2/cat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>