<?xml version="1.0" encoding="utf-8"?>
<Media Key="6271ef76-397f-4bd1-a381-405c2a62cff4" Alias="Cc Amazon Pay" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CcAmazonPay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:12</CreateDate>
    <NodeName Default="Cc Amazon Pay" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i5xhcyt5/cc-amazon-pay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>