<?xml version="1.0" encoding="utf-8"?>
<Media Key="01b8d7a2-f4b9-4290-af0d-2a9a964f57a5" Alias="Cc Diners Club" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CcDinersClub</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:13</CreateDate>
    <NodeName Default="Cc Diners Club" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/spllqanz/cc-diners-club.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>