<?xml version="1.0" encoding="utf-8"?>
<Media Key="c40c5db9-716c-4c9e-a6e4-aa023446f8a8" Alias="Cc Discover" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CcDiscover</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:13</CreateDate>
    <NodeName Default="Cc Discover" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rbobzrdm/cc-discover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>