<?xml version="1.0" encoding="utf-8"?>
<Media Key="df098577-fa8d-4b5f-b381-de359e179af7" Alias="Cc Jcb" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CcJcb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:13</CreateDate>
    <NodeName Default="Cc Jcb" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i0cbtx2n/cc-jcb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>