<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ab81ef3-4441-4e84-a8fb-cbacaae29e2f" Alias="Cc Paypal" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CcPaypal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:13</CreateDate>
    <NodeName Default="Cc Paypal" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yiplqcsb/cc-paypal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>