<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b88ef19-5889-40f4-b4cc-db8a487a602d" Alias="Cc Stripe" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CcStripe</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:13</CreateDate>
    <NodeName Default="Cc Stripe" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fdxjqc2j/cc-stripe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>