<?xml version="1.0" encoding="utf-8"?>
<Media Key="112e329f-7dd5-4daf-946f-a43b2adbcab9" Alias="Chalkboard" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Chalkboard</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:32</CreateDate>
    <NodeName Default="Chalkboard" />
    <SortOrder>766</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vyzc2eov/chalkboard.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>