<?xml version="1.0" encoding="utf-8"?>
<Media Key="57d05be6-37de-43c3-b0e7-3122cab0a7e7" Alias="Check Circle (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CheckCircle1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:34</CreateDate>
    <NodeName Default="Check Circle (1)" />
    <SortOrder>774</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/03nnav44/check-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>