<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2d02045-1f3f-4ee7-87a5-4f45b336fa6b" Alias="Cheese" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Cheese</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:35</CreateDate>
    <NodeName Default="Cheese" />
    <SortOrder>777</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oqqnbir5/cheese.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>