<?xml version="1.0" encoding="utf-8"?>
<Media Key="e707190b-d5ea-482c-b407-327788af510c" Alias="Chess Rook" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ChessRook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:38</CreateDate>
    <NodeName Default="Chess Rook" />
    <SortOrder>785</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/himbpz5k/chess-rook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>