<?xml version="1.0" encoding="utf-8"?>
<Media Key="dec24148-6e44-4c29-9aed-158797f1f6bc" Alias="Chess Knight" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ChessKnight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:37</CreateDate>
    <NodeName Default="Chess Knight" />
    <SortOrder>782</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pfanfxse/chess-knight.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>