<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed05a866-6cda-43b8-a42d-7aa9237d8a12" Alias="Chess" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Chess</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:36</CreateDate>
    <NodeName Default="Chess" />
    <SortOrder>778</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k4ual1o0/chess.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>