<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4d15f8c-aba6-485e-9b16-cc8815c48cbd" Alias="Chevron Circle Right" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ChevronCircleRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:39</CreateDate>
    <NodeName Default="Chevron Circle Right" />
    <SortOrder>788</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xvpndzfg/chevron-circle-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>