<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e3dd11d-643b-4768-8490-7be6e737b1d3" Alias="Chevron Left" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ChevronLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:40</CreateDate>
    <NodeName Default="Chevron Left" />
    <SortOrder>791</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ftid0dr1/chevron-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>