<?xml version="1.0" encoding="utf-8"?>
<Media Key="9558fc5c-6e26-477d-b6ed-ffde49f5f760" Alias="Chevron Up" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ChevronUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:40</CreateDate>
    <NodeName Default="Chevron Up" />
    <SortOrder>793</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nx4frfjg/chevron-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>