<?xml version="1.0" encoding="utf-8"?>
<Media Key="b857ddb3-1f60-4a7b-911b-32d2c8051821" Alias="Chevron Circle Up" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ChevronCircleUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:39</CreateDate>
    <NodeName Default="Chevron Circle Up" />
    <SortOrder>789</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qlofpoda/chevron-circle-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>