<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cf04758-7257-42b7-9aad-3868831ba3b0" Alias="Chromecast" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Chromecast</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:14</CreateDate>
    <NodeName Default="Chromecast" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nfdpahcx/chromecast.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>