<?xml version="1.0" encoding="utf-8"?>
<Media Key="07f27934-90c0-4428-b997-281080fb2278" Alias="Circle (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Circle1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:41</CreateDate>
    <NodeName Default="Circle (1)" />
    <SortOrder>796</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/av2peb4a/circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>