<?xml version="1.0" encoding="utf-8"?>
<Media Key="54c4b9e8-6bb3-471b-b5cc-37e14658a712" Alias="City" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/City</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:42</CreateDate>
    <NodeName Default="City" />
    <SortOrder>798</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1g2nivft/city.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>