<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8c5c708-5528-4fba-89cf-ef6ba11836f7" Alias="Clipboard" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Clipboard</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:04</CreateDate>
    <NodeName Default="Clipboard" />
    <SortOrder>482</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hhdnlkbi/clipboard.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>