<?xml version="1.0" encoding="utf-8"?>
<Media Key="efa04eb7-6b01-4cae-bd39-3c466f14377a" Alias="Clock" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Clock</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:04</CreateDate>
    <NodeName Default="Clock" />
    <SortOrder>483</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qzhkb1yb/clock.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>