<?xml version="1.0" encoding="utf-8"?>
<Media Key="bff4b33a-59f1-4df9-9a36-dc5263eefcbc" Alias="Clone (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Clone1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:44</CreateDate>
    <NodeName Default="Clone (1)" />
    <SortOrder>804</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bozpjp5r/clone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>