<?xml version="1.0" encoding="utf-8"?>
<Media Key="a93258ef-a3aa-49a4-8913-f0035fdc5cdd" Alias="Clone" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Clone</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:04</CreateDate>
    <NodeName Default="Clone" />
    <SortOrder>484</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zmdfknk/clone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>