<?xml version="1.0" encoding="utf-8"?>
<Media Key="279cd987-0de1-4d2d-b9ff-879c356d469a" Alias="Closed Captioning" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ClosedCaptioning</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:04</CreateDate>
    <NodeName Default="Closed Captioning" />
    <SortOrder>485</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1mjyj5b/closed-captioning.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>