<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab0fed0b-58ad-4e95-a1e0-227fecc4f816" Alias="Cloud Sun Rain" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CloudSunRain</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:47</CreateDate>
    <NodeName Default="Cloud Sun Rain" />
    <SortOrder>814</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hlwb5k3n/cloud-sun-rain.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>