<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b1409a4-1fd5-4804-9402-ab7f8b1febb2" Alias="Codepen" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Codepen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:15</CreateDate>
    <NodeName Default="Codepen" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/suebi04v/codepen.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>