<?xml version="1.0" encoding="utf-8"?>
<Media Key="16233380-b724-43e6-8ff0-d324ace52920" Alias="Coffee" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Coffee</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:49</CreateDate>
    <NodeName Default="Coffee" />
    <SortOrder>819</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wezdgfre/coffee.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>