<?xml version="1.0" encoding="utf-8"?>
<Media Key="0248a2b5-ad27-4476-915d-14dbcca7d4a6" Alias="Comment Medical" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CommentMedical</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:52</CreateDate>
    <NodeName Default="Comment Medical" />
    <SortOrder>828</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qsreqarh/comment-medical.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>