<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a602720-48e0-42cd-b7b7-b39e6f0fadeb" Alias="Comment" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Comment</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:05</CreateDate>
    <NodeName Default="Comment" />
    <SortOrder>486</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cethasxa/comment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>