<?xml version="1.0" encoding="utf-8"?>
<Media Key="281edee6-3b24-4bbf-a0d2-a2a31763a5e7" Alias="Comments Dollar" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CommentsDollar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:52</CreateDate>
    <NodeName Default="Comments Dollar" />
    <SortOrder>830</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/05pb2kbe/comments-dollar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>