<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2b8e65f-80e5-4125-bdbc-29cae3701b36" Alias="Compact Disc" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CompactDisc</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:53</CreateDate>
    <NodeName Default="Compact Disc" />
    <SortOrder>832</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n1tlr2xf/compact-disc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>