<?xml version="1.0" encoding="utf-8"?>
<Media Key="c906d400-bcec-447e-bb73-f46ed76a5469" Alias="Concierge Bell" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ConciergeBell</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:55</CreateDate>
    <NodeName Default="Concierge Bell" />
    <SortOrder>837</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ghkanspm/concierge-bell.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>