<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0ce03de-c18f-46d5-a3f9-662f6b4d55d2" Alias="Cookie Bite" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CookieBite</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:56</CreateDate>
    <NodeName Default="Cookie Bite" />
    <SortOrder>839</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/32bn3yep/cookie-bite.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>