<?xml version="1.0" encoding="utf-8"?>
<Media Key="58d07210-ad1d-4242-8c90-007f748c0f67" Alias="Copy" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Copy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:06</CreateDate>
    <NodeName Default="Copy" />
    <SortOrder>491</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/efznawa3/copy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>