<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7d33dc7-a72e-469c-a9c0-fa8fe82cd680" Alias="Cotton Bureau" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CottonBureau</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:16</CreateDate>
    <NodeName Default="Cotton Bureau" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4y4nhvzo/cotton-bureau.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>