<?xml version="1.0" encoding="utf-8"?>
<Media Key="032f2511-ed9c-4f69-946e-92458a044961" Alias="Couch" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Couch</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:57</CreateDate>
    <NodeName Default="Couch" />
    <SortOrder>842</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/easd4a22/couch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>