<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b05bd62-396c-4848-8fd1-669cb6810af9" Alias="Cpanel" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Cpanel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:16</CreateDate>
    <NodeName Default="Cpanel" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ko4bkw1m/cpanel.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>