<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca34b72c-ca6c-47a8-ae32-45d30269f60a" Alias="Creative Commons Nc" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CreativeCommonsNc</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:16</CreateDate>
    <NodeName Default="Creative Commons Nc" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dw1djstm/creative-commons-nc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>