<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b50e728-e587-4785-aa6e-e3b73b94f9bd" Alias="Creative Commons Remix" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CreativeCommonsRemix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:17</CreateDate>
    <NodeName Default="Creative Commons Remix" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhtfas2h/creative-commons-remix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>