<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0f2ce17-bb43-4649-bad8-123637631646" Alias="Creative Commons Zero" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CreativeCommonsZero</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:18</CreateDate>
    <NodeName Default="Creative Commons Zero" />
    <SortOrder>89</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1hpf2cd/creative-commons-zero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>