<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1d6f6d4-20c8-4987-8f2c-a007fd362fad" Alias="Creative Commons Share" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CreativeCommonsShare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:18</CreateDate>
    <NodeName Default="Creative Commons Share" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2x1nnioi/creative-commons-share.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>