<?xml version="1.0" encoding="utf-8"?>
<Media Key="21717e37-5e3e-45ec-a4f0-4633268b2f55" Alias="Creative Commons Pd Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CreativeCommonsPdAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:17</CreateDate>
    <NodeName Default="Creative Commons Pd Alt" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/az5hcij4/creative-commons-pd-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>