<?xml version="1.0" encoding="utf-8"?>
<Media Key="83b1a26b-5bef-4790-b11c-ba2d24c627df" Alias="Creative Commons Sampling" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CreativeCommonsSampling</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:18</CreateDate>
    <NodeName Default="Creative Commons Sampling" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lkrlda5p/creative-commons-sampling.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>