<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c0f4ce7-1400-4d01-840d-48dd84124d63" Alias="Creative Commons Sampling Plus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/CreativeCommonsSamplingPlus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:18</CreateDate>
    <NodeName Default="Creative Commons Sampling Plus" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0zga5daa/creative-commons-sampling-plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>