<?xml version="1.0" encoding="utf-8"?>
<Media Key="80bb8e64-cfa2-49dc-86ec-b20c1b17c138" Alias="Crosshairs" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Crosshairs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:59</CreateDate>
    <NodeName Default="Crosshairs" />
    <SortOrder>847</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kwhlxafc/crosshairs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>