<?xml version="1.0" encoding="utf-8"?>
<Media Key="42501876-4f73-40ca-aeb3-0cf08183d698" Alias="Cross" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Cross</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:27:59</CreateDate>
    <NodeName Default="Cross" />
    <SortOrder>846</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i2mfaqtt/cross.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>