<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f3ea6c5-6aae-462c-8c6c-e1a23180545e" Alias="Custard" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/Custard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T20:23:07</CreateDate>
    <NodeName Default="Custard" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yotd2h3o/custard.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>