<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6507cc8-2fcc-436d-a57c-17577760386f" Alias="Cuttlefish" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Cuttlefish</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:19</CreateDate>
    <NodeName Default="Cuttlefish" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5f4fbnwm/cuttlefish.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>