<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c397a77-f54a-40f3-9884-05637e8793e2" Alias="D And D" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/DAndD</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:19</CreateDate>
    <NodeName Default="D And D" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iz3dspck/d-and-d.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>