<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ef60176-a160-4242-912a-a8f1dc17e9b5" Alias="Dailymotion" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Dailymotion</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:19</CreateDate>
    <NodeName Default="Dailymotion" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i2apmpta/dailymotion.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>