<?xml version="1.0" encoding="utf-8"?>
<Media Key="c247038a-7599-478e-a9a2-120d5ff98664" Alias="Default Profile Image (1)" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/DefaultProfileImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-07T00:08:06</CreateDate>
    <NodeName Default="Default Profile Image (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rqbfpquz/default-profile-image.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>