<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c058273-801b-40ac-94ac-69a66cd69018" Alias="Default Profile Image (2)" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/DefaultProfileImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T13:16:34</CreateDate>
    <NodeName Default="Default Profile Image (2)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/owbakta1/default-profile-image.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>