<?xml version="1.0" encoding="utf-8"?>
<Media Key="d00e6087-a639-4264-8461-4ff763dcaaac" Alias="Deploydog" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Deploydog</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:20</CreateDate>
    <NodeName Default="Deploydog" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wzqa3ubz/deploydog.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>