<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d63c156-d1a7-4800-bf26-d9f91d863ced" Alias="Dev" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Dev</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:20</CreateDate>
    <NodeName Default="Dev" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m5ahgpnh/dev.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>