<?xml version="1.0" encoding="utf-8"?>
<Media Key="94ab971f-edd5-4e68-a706-f30923b5402c" Alias="Dharmachakra" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Dharmachakra</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:03</CreateDate>
    <NodeName Default="Dharmachakra" />
    <SortOrder>858</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f0llxfgv/dharmachakra.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>