<?xml version="1.0" encoding="utf-8"?>
<Media Key="81cb4fd4-60f9-4fc0-a2d7-77bbb863523d" Alias="Dhl" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Dhl</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:21</CreateDate>
    <NodeName Default="Dhl" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2vhnxapz/dhl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>