<?xml version="1.0" encoding="utf-8"?>
<Media Key="966e6fe8-bca3-410d-9f40-f6dcd4f3be45" Alias="Diagnoses" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Diagnoses</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:03</CreateDate>
    <NodeName Default="Diagnoses" />
    <SortOrder>859</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1fxh3fvd/diagnoses.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>