<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d5bf9c4-b102-4ccd-a8f7-54c69214fcae" Alias="Diaspora" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Diaspora</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:21</CreateDate>
    <NodeName Default="Diaspora" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4x2fwxic/diaspora.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>