<?xml version="1.0" encoding="utf-8"?>
<Media Key="061638b8-b4e4-48cf-9c8f-4f95c7145643" Alias="Dice Five" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/DiceFive</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:05</CreateDate>
    <NodeName Default="Dice Five" />
    <SortOrder>863</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/re2bmbxe/dice-five.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>