<?xml version="1.0" encoding="utf-8"?>
<Media Key="664f8989-36aa-431f-88ae-b5e54e2ed66b" Alias="Dice D20" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/DiceD20</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:04</CreateDate>
    <NodeName Default="Dice D20" />
    <SortOrder>862</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xcef4zvk/dice-d20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>