<?xml version="1.0" encoding="utf-8"?>
<Media Key="33105477-3dec-4cca-8c25-df093882c646" Alias="Donate" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Donate</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:10</CreateDate>
    <NodeName Default="Donate" />
    <SortOrder>879</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/izkbam5m/donate.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>