<?xml version="1.0" encoding="utf-8"?>
<Media Key="f12c1689-0ea1-4275-a485-de93bb2edfc4" Alias="Door Open" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/DoorOpen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:11</CreateDate>
    <NodeName Default="Door Open" />
    <SortOrder>881</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xalcz2nb/door-open.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>