<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfc8b4db-6e0c-498c-af84-a23af07dfe3c" Alias="Dropbox" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Dropbox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:23</CreateDate>
    <NodeName Default="Dropbox" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3k0mrxym/dropbox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>