<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c28c59a-6510-406d-867a-f18e34b17d85" Alias="Drum Steelpan" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/DrumSteelpan</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:14</CreateDate>
    <NodeName Default="Drum Steelpan" />
    <SortOrder>889</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vpcdrdaq/drum-steelpan.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>