<?xml version="1.0" encoding="utf-8"?>
<Media Key="0eee8b40-c396-413d-9e2a-fe500a8ef60a" Alias="Drumstick Bite" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/DrumstickBite</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:14</CreateDate>
    <NodeName Default="Drumstick Bite" />
    <SortOrder>890</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ogfp2duw/drumstick-bite.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>