<?xml version="1.0" encoding="utf-8"?>
<Media Key="76eed1c5-1d79-4928-b030-869d8f95a27b" Alias="Dsdqpmu7" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/Dsdqpmu7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-11T00:57:56</CreateDate>
    <NodeName Default="Dsdqpmu7" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ypip23tz/dsdqpmu7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>