<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef9c0186-d998-4c00-ad5c-d2fc9ebd4cb4" Alias="Dumbbell" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Dumbbell</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:14</CreateDate>
    <NodeName Default="Dumbbell" />
    <SortOrder>891</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w2ajz12y/dumbbell.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>