<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcee0478-154e-4e93-89dc-8a776dcca960" Alias="Dumpster" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Dumpster</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:15</CreateDate>
    <NodeName Default="Dumpster" />
    <SortOrder>892</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jeco3xco/dumpster.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>