<?xml version="1.0" encoding="utf-8"?>
<Media Key="82b7135f-4b49-48cd-9093-f4251b61fef0" Alias="Dumpster Fire" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/DumpsterFire</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:15</CreateDate>
    <NodeName Default="Dumpster Fire" />
    <SortOrder>893</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nyjlpasj/dumpster-fire.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>