<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbe048c8-685c-42fb-b8e6-56dd482f5ea7" Alias="Edge Legacy" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/EdgeLegacy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:24</CreateDate>
    <NodeName Default="Edge Legacy" />
    <SortOrder>121</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5feob402/edge-legacy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>