<?xml version="1.0" encoding="utf-8"?>
<Media Key="081aa0a2-2773-4d6f-9b1d-5ea99b741c7f" Alias="Elementor" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Elementor</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:24</CreateDate>
    <NodeName Default="Elementor" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/soqbucdt/elementor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>