<?xml version="1.0" encoding="utf-8"?>
<Media Key="6768604a-f062-48f7-aec7-15ec49f8e0ec" Alias="Empire" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Empire</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:24</CreateDate>
    <NodeName Default="Empire" />
    <SortOrder>125</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pnqgqz1c/empire.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>