<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fdc8700-cdcf-41bf-b62a-f3bc0fdf75e3" Alias="Equals" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Equals</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:19</CreateDate>
    <NodeName Default="Equals" />
    <SortOrder>904</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ggdnyh4p/equals.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>