<?xml version="1.0" encoding="utf-8"?>
<Media Key="49e4dcd0-5027-4611-b8b3-4d6150ead289" Alias="Erlang" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Erlang</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:25</CreateDate>
    <NodeName Default="Erlang" />
    <SortOrder>127</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2hooisjh/erlang.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>