<?xml version="1.0" encoding="utf-8"?>
<Media Key="61d60d01-8a40-4608-9aba-ca4f66502ac1" Alias="Exchange Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ExchangeAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:21</CreateDate>
    <NodeName Default="Exchange Alt" />
    <SortOrder>908</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gagnmyka/exchange-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>