<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ebeea45-6c30-46c8-b43a-3a1ec1833967" Alias="Exclamation Triangle" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ExclamationTriangle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:22</CreateDate>
    <NodeName Default="Exclamation Triangle" />
    <SortOrder>911</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/otvl2hrq/exclamation-triangle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>