<?xml version="1.0" encoding="utf-8"?>
<Media Key="338ab2a0-cfc5-4e5c-91c9-b266fd2ca3ca" Alias="External Link Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ExternalLinkAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:23</CreateDate>
    <NodeName Default="External Link Alt" />
    <SortOrder>915</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sgzium4f/external-link-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>