<?xml version="1.0" encoding="utf-8"?>
<Media Key="2682e5c3-e675-4603-af36-4ca41dcb8107" Alias="Eye" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Eye</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:08</CreateDate>
    <NodeName Default="Eye" />
    <SortOrder>499</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4lsjejtv/eye.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>