<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca2de469-46c6-4b0d-bbdd-7ed373768a3e" Alias="Fast Backward" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FastBackward</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:26</CreateDate>
    <NodeName Default="Fast Backward" />
    <SortOrder>921</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ldsc1swg/fast-backward.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>