<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1ecf17d-5307-4baf-9b1a-9d136eb321d1" Alias="Fax" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Fax</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:27</CreateDate>
    <NodeName Default="Fax" />
    <SortOrder>924</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jtypzmih/fax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>