<?xml version="1.0" encoding="utf-8"?>
<Media Key="5065a6bc-32a9-4fba-8811-c2260e8b0bad" Alias="Feather" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Feather</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:27</CreateDate>
    <NodeName Default="Feather" />
    <SortOrder>925</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rwtgkufj/feather.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>