<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c3c4b86-2ea0-4252-a691-30dd2856aed7" Alias="Fedex" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Fedex</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:27</CreateDate>
    <NodeName Default="Fedex" />
    <SortOrder>137</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w3fdzhfa/fedex.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>