<?xml version="1.0" encoding="utf-8"?>
<Media Key="c97eec35-c1e4-4206-be8f-46f32c76919b" Alias="File Download" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileDownload</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:31</CreateDate>
    <NodeName Default="File Download" />
    <SortOrder>936</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/atwh3spe/file-download.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>