<?xml version="1.0" encoding="utf-8"?>
<Media Key="07fd2388-27ae-433e-b817-a54c1d72df36" Alias="File Word" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileWord</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:11</CreateDate>
    <NodeName Default="File Word" />
    <SortOrder>511</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xerp0b3o/file-word.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>