<?xml version="1.0" encoding="utf-8"?>
<Media Key="c420b815-8e9a-401f-aae5-e238b3f6d6c3" Alias="File Archive (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileArchive1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:29</CreateDate>
    <NodeName Default="File Archive (1)" />
    <SortOrder>931</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/es2cbre0/file-archive.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>