<?xml version="1.0" encoding="utf-8"?>
<Media Key="163e6a9a-68d7-4b8b-91e9-c1a5bc39b86f" Alias="File Code (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileCode1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:30</CreateDate>
    <NodeName Default="File Code (1)" />
    <SortOrder>933</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vnvd2fwx/file-code.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>