<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab0178c2-4802-420b-903d-2fbdd413327b" Alias="File Audio" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileAudio</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:09</CreateDate>
    <NodeName Default="File Audio" />
    <SortOrder>504</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4n2adkyc/file-audio.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>