<?xml version="1.0" encoding="utf-8"?>
<Media Key="91af8aa8-f24f-4725-9c9b-95c8f0fd04f8" Alias="File Upload" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileUpload</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:37</CreateDate>
    <NodeName Default="File Upload" />
    <SortOrder>949</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tgfk5ekp/file-upload.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>