<?xml version="1.0" encoding="utf-8"?>
<Media Key="0eb1b2eb-8ca2-4d70-9dda-690d29cd34b6" Alias="File Import" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileImport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:33</CreateDate>
    <NodeName Default="File Import" />
    <SortOrder>940</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1kzlcdvc/file-import.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>