<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0e3acbe-5079-49d2-aed9-23ad729674c3" Alias="File Invoice Dollar" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileInvoiceDollar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:34</CreateDate>
    <NodeName Default="File Invoice Dollar" />
    <SortOrder>942</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r4woh2dz/file-invoice-dollar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>