<?xml version="1.0" encoding="utf-8"?>
<Media Key="24291b93-717f-4bb5-b204-8fc6fc586710" Alias="File Medical Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileMedicalAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:35</CreateDate>
    <NodeName Default="File Medical Alt" />
    <SortOrder>944</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uindsjd5/file-medical-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>