<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac314083-3686-475b-bd26-83dae42af84c" Alias="File Video" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:11</CreateDate>
    <NodeName Default="File Video" />
    <SortOrder>510</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wjaddleg/file-video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>