<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb4dffa2-3483-40ad-8c52-a041e236b256" Alias="File Video (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileVideo1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:37</CreateDate>
    <NodeName Default="File Video (1)" />
    <SortOrder>950</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sp5f102d/file-video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>