<?xml version="1.0" encoding="utf-8"?>
<Media Key="988da3cd-4c03-4157-9b17-2b9209aa84c8" Alias="File Alt (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FileAlt1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:29</CreateDate>
    <NodeName Default="File Alt (1)" />
    <SortOrder>930</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5srj1gad/file-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>