<?xml version="1.0" encoding="utf-8"?>
<Media Key="79174711-6c35-41a4-a841-bdf9cb9f0af0" Alias="File" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/File</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:08</CreateDate>
    <NodeName Default="File" />
    <SortOrder>501</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ebdbo4jv/file.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>