<?xml version="1.0" encoding="utf-8"?>
<Media Key="d070e398-1800-4c6a-97ba-dddf74e9eb77" Alias="Fill" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Fill</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:38</CreateDate>
    <NodeName Default="Fill" />
    <SortOrder>952</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vhrhbuaa/fill.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>