<?xml version="1.0" encoding="utf-8"?>
<Media Key="1671fc15-3323-4580-b633-a4a36942da23" Alias="Film" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Film</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:39</CreateDate>
    <NodeName Default="Film" />
    <SortOrder>954</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/et4hcfrd/film.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>