<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ad0c422-b68c-42c3-8f9f-01e7a5fae3e2" Alias="Fingerprint" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Fingerprint</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:40</CreateDate>
    <NodeName Default="Fingerprint" />
    <SortOrder>956</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cpcnagum/fingerprint.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>