<?xml version="1.0" encoding="utf-8"?>
<Media Key="61c3601b-9366-4977-8ff3-336364c61c8a" Alias="Folder Minus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FolderMinus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:45</CreateDate>
    <NodeName Default="Folder Minus" />
    <SortOrder>969</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjqmgylg/folder-minus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>