<?xml version="1.0" encoding="utf-8"?>
<Media Key="25a9a7d2-4f68-4b17-a714-7e4040cb4d24" Alias="Fonticons" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Fonticons</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:29</CreateDate>
    <NodeName Default="Fonticons" />
    <SortOrder>152</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2otlsjli/fonticons.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>