<?xml version="1.0" encoding="utf-8"?>
<Media Key="9114da17-79de-4eb3-a384-262984c31470" Alias="Font Awesome Logo Full" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FontAwesomeLogoFull</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:29</CreateDate>
    <NodeName Default="Font Awesome Logo Full" />
    <SortOrder>151</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1nbjeo4/font-awesome-logo-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>