<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea932638-e767-4a80-b7a3-57454a0e230c" Alias="Football Ball" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FootballBall</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:47</CreateDate>
    <NodeName Default="Football Ball" />
    <SortOrder>974</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/betjh0th/football-ball.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>