<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e300a29-9cc7-4db7-92c4-bbf21c8cbd28" Alias="Fort Awesome Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FortAwesomeAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:30</CreateDate>
    <NodeName Default="Fort Awesome Alt" />
    <SortOrder>155</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dafdahwh/fort-awesome-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>