<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf0c3696-448c-49eb-aafc-d02f6d45789c" Alias="Fort Awesome" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FortAwesome</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:30</CreateDate>
    <NodeName Default="Fort Awesome" />
    <SortOrder>154</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u21azp2m/fort-awesome.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>