<?xml version="1.0" encoding="utf-8"?>
<Media Key="a67ab3e5-b81e-472a-b68f-2ca3eb9b7a1d" Alias="Freebsd" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Freebsd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:30</CreateDate>
    <NodeName Default="Freebsd" />
    <SortOrder>158</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0szhvjq4/freebsd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>