<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a31de72-d44a-420f-b0b5-f1bfd274e969" Alias="Frown" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Frown</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:12</CreateDate>
    <NodeName Default="Frown" />
    <SortOrder>517</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ippdcksk/frown.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>