<?xml version="1.0" encoding="utf-8"?>
<Media Key="4607794f-13b7-44bd-9fe6-65972260a854" Alias="Fulcrum" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Fulcrum</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:31</CreateDate>
    <NodeName Default="Fulcrum" />
    <SortOrder>160</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pz2borvx/fulcrum.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>