<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a384c3e-6b4d-4a73-b05f-9864e3f3c641" Alias="Funnel Dollar" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/FunnelDollar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:49</CreateDate>
    <NodeName Default="Funnel Dollar" />
    <SortOrder>979</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3gdqcsn/funnel-dollar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>