<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccb115bf-0e31-482a-ab36-11d0df49cd2f" Alias="Gas Pump" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GasPump</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:50</CreateDate>
    <NodeName Default="Gas Pump" />
    <SortOrder>982</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rykldtbr/gas-pump.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>