<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb3025b2-cc5f-4a64-a544-3c5a9f587a8f" Alias="Gem (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Gem1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:51</CreateDate>
    <NodeName Default="Gem (1)" />
    <SortOrder>984</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qmsdbo05/gem.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>