<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dd24aac-027d-4693-b035-a13f7b0f31e6" Alias="Gg Circle" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GgCircle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:32</CreateDate>
    <NodeName Default="Gg Circle" />
    <SortOrder>165</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tvfnepl3/gg-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>