<?xml version="1.0" encoding="utf-8"?>
<Media Key="30aea3dc-2266-481d-aef4-8aa0ae33ca76" Alias="Gifts" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Gifts</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:52</CreateDate>
    <NodeName Default="Gifts" />
    <SortOrder>988</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3wrl2mdg/gifts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>