<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f58af8c-57c8-47e0-8f29-23eac1b7a324" Alias="Git" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Git</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:32</CreateDate>
    <NodeName Default="Git" />
    <SortOrder>166</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xwxfqp4i/git.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>