<?xml version="1.0" encoding="utf-8"?>
<Media Key="e37a3a85-33ba-4977-ab82-f92d61d06d66" Alias="Github Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GithubAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:32</CreateDate>
    <NodeName Default="Github Alt" />
    <SortOrder>169</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wq3hvy30/github-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>