<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfaa10b8-a34a-4f90-961f-c19febbede5a" Alias="Gitter" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Gitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:33</CreateDate>
    <NodeName Default="Gitter" />
    <SortOrder>174</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/reikvt0k/gitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>