<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f4536fb-8c16-41d9-8402-38bc54bf098a" Alias="Glide" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Glide</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:34</CreateDate>
    <NodeName Default="Glide" />
    <SortOrder>175</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zi1eklyw/glide.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>