<?xml version="1.0" encoding="utf-8"?>
<Media Key="68a763f0-1399-4b99-bc2f-0bdc0ab3b9f3" Alias="Google Play" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GooglePlay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:35</CreateDate>
    <NodeName Default="Google Play" />
    <SortOrder>183</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yfrlo0ez/google-play.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>