<?xml version="1.0" encoding="utf-8"?>
<Media Key="6178d91c-c09d-4396-8232-2785cc164380" Alias="Google Plus G" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GooglePlusG</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:35</CreateDate>
    <NodeName Default="Google Plus G" />
    <SortOrder>185</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fxmhqym3/google-plus-g.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>