<?xml version="1.0" encoding="utf-8"?>
<Media Key="427b967b-08da-459b-a2ba-4ef8b1211281" Alias="Google Pay" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GooglePay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:35</CreateDate>
    <NodeName Default="Google Pay" />
    <SortOrder>182</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jklhwqw0/google-pay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>