<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8770bee-48b0-47fe-856b-bc6a4acd26f6" Alias="Gopuram" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Gopuram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:57</CreateDate>
    <NodeName Default="Gopuram" />
    <SortOrder>1000</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/12fhpofq/gopuram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>