<?xml version="1.0" encoding="utf-8"?>
<Media Key="297110d3-872b-481f-ac94-0936dea5c086" Alias="Grav" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Grav</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:36</CreateDate>
    <NodeName Default="Grav" />
    <SortOrder>189</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2iihckjl/grav.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>