<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf13924e-c9f8-478f-9599-950df85e3c8f" Alias="Greater Than Equal" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GreaterThanEqual</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:58</CreateDate>
    <NodeName Default="Greater Than Equal" />
    <SortOrder>1003</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p4jbhp5y/greater-than-equal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>