<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e54997c-be2b-4e74-a456-e34b6020dbd4" Alias="Grimace (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Grimace1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:58</CreateDate>
    <NodeName Default="Grimace (1)" />
    <SortOrder>1004</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwmfitrl/grimace.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>