<?xml version="1.0" encoding="utf-8"?>
<Media Key="c42972c8-e95d-4764-a9b0-754ea1d794d4" Alias="Grimace" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Grimace</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:13</CreateDate>
    <NodeName Default="Grimace" />
    <SortOrder>521</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5fzctrc3/grimace.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>