<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f2bfe73-a78b-4529-99cd-1e037fe033cc" Alias="Grin Tongue (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GrinTongue1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:02</CreateDate>
    <NodeName Default="Grin Tongue (1)" />
    <SortOrder>1014</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/il5cwd2l/grin-tongue.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>