<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a67c849-37c6-4daa-8a31-e5600fc4d2f1" Alias="Grin Alt (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GrinAlt1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:28:59</CreateDate>
    <NodeName Default="Grin Alt (1)" />
    <SortOrder>1006</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pdego4wg/grin-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>