<?xml version="1.0" encoding="utf-8"?>
<Media Key="32990e1b-fd37-4b81-ab9a-5b7625a723ac" Alias="Grin Tongue Squint (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GrinTongueSquint1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:02</CreateDate>
    <NodeName Default="Grin Tongue Squint (1)" />
    <SortOrder>1015</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fihjsmrx/grin-tongue-squint.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>