<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc50a429-0d2a-4ace-ab07-66ed7f7a217b" Alias="Grin Beam" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GrinBeam</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:15</CreateDate>
    <NodeName Default="Grin Beam" />
    <SortOrder>524</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dcsfbtbk/grin-beam.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>