<?xml version="1.0" encoding="utf-8"?>
<Media Key="7abb9d22-ce70-4160-b26f-5001300550e5" Alias="Grin Stars" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GrinStars</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:16</CreateDate>
    <NodeName Default="Grin Stars" />
    <SortOrder>529</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/coolw4tq/grin-stars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>