<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ad56e04-7e1d-4ace-a0ee-82ee36f4560a" Alias="Grin Beam Sweat" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/GrinBeamSweat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:15</CreateDate>
    <NodeName Default="Grin Beam Sweat" />
    <SortOrder>525</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gvxnkwq3/grin-beam-sweat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>