<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9827ac4-a9b9-4320-a97f-fad684c3f3d7" Alias="Hacker News Square" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HackerNewsSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:37</CreateDate>
    <NodeName Default="Hacker News Square" />
    <SortOrder>195</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4v3ifknz/hacker-news-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>