<?xml version="1.0" encoding="utf-8"?>
<Media Key="aaa7c507-8d54-4ce6-b1b0-d877ffb24671" Alias="Hacker News" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HackerNews</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:37</CreateDate>
    <NodeName Default="Hacker News" />
    <SortOrder>194</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g1clpksu/hacker-news.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>