<?xml version="1.0" encoding="utf-8"?>
<Media Key="05f0bc6c-8714-4898-a5ab-77f9aca86b7b" Alias="Hand Lizard" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HandLizard</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:17</CreateDate>
    <NodeName Default="Hand Lizard" />
    <SortOrder>535</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lw4pabiu/hand-lizard.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>