<?xml version="1.0" encoding="utf-8"?>
<Media Key="47dbe9a8-e59b-49f4-b37f-4205f03b3798" Alias="Handshake Alt Slash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HandshakeAltSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:13</CreateDate>
    <NodeName Default="Handshake Alt Slash" />
    <SortOrder>1044</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thunwr21/handshake-alt-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>