<?xml version="1.0" encoding="utf-8"?>
<Media Key="80506cbd-7570-412f-98bb-3ba0ef06f2a8" Alias="Hand Rock" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HandRock</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:19</CreateDate>
    <NodeName Default="Hand Rock" />
    <SortOrder>543</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rrwfbadq/hand-rock.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>