<?xml version="1.0" encoding="utf-8"?>
<Media Key="c889653a-12fa-4067-b5b4-d43ffa62aef2" Alias="Hand Middle Finger" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HandMiddleFinger</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:08</CreateDate>
    <NodeName Default="Hand Middle Finger" />
    <SortOrder>1032</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bnsjtsh0/hand-middle-finger.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>