<?xml version="1.0" encoding="utf-8"?>
<Media Key="be95587d-cd2b-4b21-8f42-1f36689326c0" Alias="Hand Peace" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HandPeace</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:18</CreateDate>
    <NodeName Default="Hand Peace" />
    <SortOrder>537</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jrmjlprl/hand-peace.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>