<?xml version="1.0" encoding="utf-8"?>
<Media Key="63743e31-628a-49ce-9ea9-b1a91a56fbc0" Alias="Hat Cowboy Side" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HatCowboySide</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:18</CreateDate>
    <NodeName Default="Hat Cowboy Side" />
    <SortOrder>1054</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aa5hiy2k/hat-cowboy-side.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>