<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5b352bd-ed71-4402-a7f9-0cef09bf1d3d" Alias="Headphones" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Headphones</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:19</CreateDate>
    <NodeName Default="Headphones" />
    <SortOrder>1058</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rrjlhzlr/headphones.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>