<?xml version="1.0" encoding="utf-8"?>
<Media Key="87a4b366-5c16-4cb6-a323-96ea14a505e0" Alias="Heading" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Heading</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:19</CreateDate>
    <NodeName Default="Heading" />
    <SortOrder>1057</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k4zljbyw/heading.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>