<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb902390-2a8e-4985-8b68-fd4482cfd734" Alias="Head Side Mask" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HeadSideMask</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:21</CreateDate>
    <NodeName Default="Head Side Mask" />
    <SortOrder>1063</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uerjbo2o/head-side-mask.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>