<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bce7300-fc92-4995-960f-b0f1f862954c" Alias="Highlighter" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Highlighter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:24</CreateDate>
    <NodeName Default="Highlighter" />
    <SortOrder>1069</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gfzn3g2s/highlighter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>