<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6d4fa18-f730-4ac2-884b-c2e25a21b998" Alias="Hiking" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Hiking</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:24</CreateDate>
    <NodeName Default="Hiking" />
    <SortOrder>1070</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fh3njnrq/hiking.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>