<?xml version="1.0" encoding="utf-8"?>
<Media Key="487b9fec-7afa-4bf7-adf5-d6b66da0aeea" Alias="Hive" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Hive</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:38</CreateDate>
    <NodeName Default="Hive" />
    <SortOrder>199</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1wphwsh0/hive.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>