<?xml version="1.0" encoding="utf-8"?>
<Media Key="458183cc-721d-44b8-a893-1d71b8ff209c" Alias="Hospital Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HospitalAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:27</CreateDate>
    <NodeName Default="Hospital Alt" />
    <SortOrder>1079</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5wbjcri3/hospital-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>