<?xml version="1.0" encoding="utf-8"?>
<Media Key="46f2ad61-2db6-4e0b-93e0-e99b27304f06" Alias="Hospital Symbol" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HospitalSymbol</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:28</CreateDate>
    <NodeName Default="Hospital Symbol" />
    <SortOrder>1080</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kcwpervw/hospital-symbol.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>