<?xml version="1.0" encoding="utf-8"?>
<Media Key="9718421a-e4fb-4359-b2a9-ae56e7358154" Alias="Hourglass (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Hourglass1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:30</CreateDate>
    <NodeName Default="Hourglass (1)" />
    <SortOrder>1085</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fnbbrf51/hourglass.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>