<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffab1c7b-1666-46a4-812f-83e2167439d4" Alias="Hourglass Half" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/HourglassHalf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:31</CreateDate>
    <NodeName Default="Hourglass Half" />
    <SortOrder>1087</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jiokx51g/hourglass-half.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>