<?xml version="1.0" encoding="utf-8"?>
<Media Key="304e83bf-a5cb-4cea-bb15-8981c840603e" Alias="Html5" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Html5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:39</CreateDate>
    <NodeName Default="Html5" />
    <SortOrder>204</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r0bf2mgl/html5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>