<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfa7677a-2257-4849-9637-34e2876db3d7" Alias="Hubspot" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Hubspot</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:39</CreateDate>
    <NodeName Default="Hubspot" />
    <SortOrder>205</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jntlpx0x/hubspot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>