<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dd3b10a-e91b-4e49-939a-cad76c1e4861" Alias="Icicles" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Icicles</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:34</CreateDate>
    <NodeName Default="Icicles" />
    <SortOrder>1094</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hoyng5i1/icicles.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>