<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed63fd12-478c-41e1-a8bd-b41a6d1ec3b4" Alias="Images (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Images1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:37</CreateDate>
    <NodeName Default="Images (1)" />
    <SortOrder>1102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ep4hh1mm/images.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>