<?xml version="1.0" encoding="utf-8"?>
<Media Key="c68be154-0ed4-4d41-be4d-9c10f62c0954" Alias="Inbox" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Inbox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:38</CreateDate>
    <NodeName Default="Inbox" />
    <SortOrder>1103</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxqjxrwu/inbox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>