<?xml version="1.0" encoding="utf-8"?>
<Media Key="27d2760e-9bba-48ce-97c9-2547124082f3" Alias="Indent" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Indent</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:38</CreateDate>
    <NodeName Default="Indent" />
    <SortOrder>1104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h31nej30/indent.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>