<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6031e8a-5498-41cd-b826-1224bd0a8cc6" Alias="Industry" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Industry</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:38</CreateDate>
    <NodeName Default="Industry" />
    <SortOrder>1105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xmpahzuy/industry.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>