<?xml version="1.0" encoding="utf-8"?>
<Media Key="c51c11b9-eaa8-40b1-a377-2d8377ef9464" Alias="Ioxhost" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Ioxhost</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:41</CreateDate>
    <NodeName Default="Ioxhost" />
    <SortOrder>215</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/raibzrni/ioxhost.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>