<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbf0cd3c-a03d-4904-b55d-d26b0f46e0d3" Alias="Italic" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Italic</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:40</CreateDate>
    <NodeName Default="Italic" />
    <SortOrder>1109</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bxgpboz3/italic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>