<?xml version="1.0" encoding="utf-8"?>
<Media Key="60bc63d1-5d24-4f39-b12a-abf537ca135c" Alias="Itch Io" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ItchIo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:41</CreateDate>
    <NodeName Default="Itch Io" />
    <SortOrder>216</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2brlyybe/itch-io.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>