<?xml version="1.0" encoding="utf-8"?>
<Media Key="435f2251-21ee-4494-967b-bad205ad4b6f" Alias="Itunes" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Itunes</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:41</CreateDate>
    <NodeName Default="Itunes" />
    <SortOrder>217</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/marf4q5o/itunes.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>