<?xml version="1.0" encoding="utf-8"?>
<Media Key="b13de3dd-6dc8-4dd6-8dc9-11e1d406dca7" Alias="Itunes Note" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ItunesNote</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:41</CreateDate>
    <NodeName Default="Itunes Note" />
    <SortOrder>218</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3trd1moi/itunes-note.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>