<?xml version="1.0" encoding="utf-8"?>
<Media Key="b819fccd-2693-4a3f-9b31-ad21ead253eb" Alias="Joget" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Joget</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:43</CreateDate>
    <NodeName Default="Joget" />
    <SortOrder>223</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5t4btoet/joget.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>