<?xml version="1.0" encoding="utf-8"?>
<Media Key="660360f7-c0ab-46e4-9ff2-04445036a071" Alias="Kaaba" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Kaaba</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:42</CreateDate>
    <NodeName Default="Kaaba" />
    <SortOrder>1113</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yzqagzvl/kaaba.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>