<?xml version="1.0" encoding="utf-8"?>
<Media Key="4afb6ec6-dd35-4e38-9aee-aa4e27b02d20" Alias="Keybase" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Keybase</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:44</CreateDate>
    <NodeName Default="Keybase" />
    <SortOrder>229</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/43xpwsrv/keybase.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>