<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3d9c8fb-e9f0-4be2-bcbb-36a00cd80703" Alias="Kickstarter" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Kickstarter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:44</CreateDate>
    <NodeName Default="Kickstarter" />
    <SortOrder>231</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zlentu5q/kickstarter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>