<?xml version="1.0" encoding="utf-8"?>
<Media Key="c964adc0-01c9-40d8-9e19-815a3fb1eb6b" Alias="Kiss (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Kiss1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:44</CreateDate>
    <NodeName Default="Kiss (1)" />
    <SortOrder>1117</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4gwhjsoj/kiss.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>