<?xml version="1.0" encoding="utf-8"?>
<Media Key="9889f9aa-6dba-4c2e-9b1c-7f22fb34b275" Alias="Kiss Wink Heart (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/KissWinkHeart1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:45</CreateDate>
    <NodeName Default="Kiss Wink Heart (1)" />
    <SortOrder>1119</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tp2jtgf0/kiss-wink-heart.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>