<?xml version="1.0" encoding="utf-8"?>
<Media Key="83e7f69e-6a5d-4373-b47b-0ad5b31082cc" Alias="Kiss Wink Heart" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/KissWinkHeart</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:23</CreateDate>
    <NodeName Default="Kiss Wink Heart" />
    <SortOrder>558</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v51opa03/kiss-wink-heart.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>