<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe915d34-35a1-41f8-87b4-691e35bab006" Alias="Language" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Language</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:46</CreateDate>
    <NodeName Default="Language" />
    <SortOrder>1122</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/avojd5vb/language.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>