<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c57942b-67b1-4ebe-ac5e-18024a07cc46" Alias="Laravel" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Laravel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:45</CreateDate>
    <NodeName Default="Laravel" />
    <SortOrder>234</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dkkfohfr/laravel.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>