<?xml version="1.0" encoding="utf-8"?>
<Media Key="d30ead37-0015-4bfa-bb23-37ff7d1965db" Alias="Laugh Squint" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/LaughSquint</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:24</CreateDate>
    <NodeName Default="Laugh Squint" />
    <SortOrder>561</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a0wb3uyv/laugh-squint.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>