<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4b1d04a-8623-4e40-b56f-125375bc28e4" Alias="Laugh Beam (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/LaughBeam1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:48</CreateDate>
    <NodeName Default="Laugh Beam (1)" />
    <SortOrder>1128</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ppildnbd/laugh-beam.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>