<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad64ebd6-4afa-4a7a-85f8-64d4e92f60eb" Alias="Less Than Equal" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/LessThanEqual</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:52</CreateDate>
    <NodeName Default="Less Than Equal" />
    <SortOrder>1135</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/25vhjlp0/less-than-equal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>