<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a51e846-6acb-49fe-a507-5de2f029caaf" Alias="Lightbulb" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Lightbulb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:25</CreateDate>
    <NodeName Default="Lightbulb" />
    <SortOrder>565</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o5ufdcwl/lightbulb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>