<?xml version="1.0" encoding="utf-8"?>
<Media Key="3917da86-2147-499d-8cf0-5d18a6beba9a" Alias="Line" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Line</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:46</CreateDate>
    <NodeName Default="Line" />
    <SortOrder>239</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w5nbookh/line.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>