<?xml version="1.0" encoding="utf-8"?>
<Media Key="2508f683-6612-441b-9b0e-d95d43f1bb91" Alias="Link" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Link</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:54</CreateDate>
    <NodeName Default="Link" />
    <SortOrder>1140</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wl1aqjis/link.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>