<?xml version="1.0" encoding="utf-8"?>
<Media Key="57e73583-028e-4403-90c4-11bc9f473980" Alias="List" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/List</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:55</CreateDate>
    <NodeName Default="List" />
    <SortOrder>1142</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wi0pov2o/list.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>