<?xml version="1.0" encoding="utf-8"?>
<Media Key="47c1343b-d576-451c-9342-f0ddc208406f" Alias="List Alt (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ListAlt1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:55</CreateDate>
    <NodeName Default="List Alt (1)" />
    <SortOrder>1143</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bi0mcr1w/list-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>