<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc35f940-059c-4c81-8a64-56ab82233a17" Alias="Location Arrow" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/LocationArrow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:56</CreateDate>
    <NodeName Default="Location Arrow" />
    <SortOrder>1146</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oh2dlpe2/location-arrow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>