<?xml version="1.0" encoding="utf-8"?>
<Media Key="465a4e1d-0043-43f9-ae92-a4e2e0873f93" Alias="Lock Open" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/LockOpen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:57</CreateDate>
    <NodeName Default="Lock Open" />
    <SortOrder>1148</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/frhfursd/lock-open.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>