<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0fc7aa3-e637-4530-9700-807e0707fb77" Alias="Long Arrow Alt Down" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/LongArrowAltDown</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:29:58</CreateDate>
    <NodeName Default="Long Arrow Alt Down" />
    <SortOrder>1149</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sj3pzibx/long-arrow-alt-down.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>