<?xml version="1.0" encoding="utf-8"?>
<Media Key="10822bca-1900-44a2-b817-c470d58b2a26" Alias="Lungs" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Lungs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:00</CreateDate>
    <NodeName Default="Lungs" />
    <SortOrder>1155</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5mvjeeaa/lungs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>