<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4b1967e-d193-4450-8f2a-74778c5ca8ef" Alias="Magnet" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Magnet</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:01</CreateDate>
    <NodeName Default="Magnet" />
    <SortOrder>1158</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j4lldret/magnet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>