<?xml version="1.0" encoding="utf-8"?>
<Media Key="124f5fcd-3609-42d3-8204-1994bbd78e39" Alias="Map Marked Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MapMarkedAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:03</CreateDate>
    <NodeName Default="Map Marked Alt" />
    <SortOrder>1163</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5rpf4eqj/map-marked-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>