<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c03449a-bdad-4fba-920e-e79431a19441" Alias="Map Marker Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MapMarkerAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:04</CreateDate>
    <NodeName Default="Map Marker Alt" />
    <SortOrder>1165</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vncagxfn/map-marker-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>