<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7d1327c-bd9b-49da-8993-0b142b9818a1" Alias="Map" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Map</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:26</CreateDate>
    <NodeName Default="Map" />
    <SortOrder>567</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/juzndr21/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>