<?xml version="1.0" encoding="utf-8"?>
<Media Key="304fb122-bf81-4ecb-9152-9f1e5d910922" Alias="Marker" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Marker</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:06</CreateDate>
    <NodeName Default="Marker" />
    <SortOrder>1168</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/coyf4meb/marker.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>