<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7bb1884-1624-4226-bf2b-3ee499e2f9f6" Alias="Mars Stroke H" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MarsStrokeH</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:07</CreateDate>
    <NodeName Default="Mars Stroke H" />
    <SortOrder>1172</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wumlxvze/mars-stroke-h.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>