<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ada2253-9783-49b6-a986-dd7c1df49796" Alias="Mars Stroke V" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MarsStrokeV</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:08</CreateDate>
    <NodeName Default="Mars Stroke V" />
    <SortOrder>1173</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mirnusud/mars-stroke-v.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>