<?xml version="1.0" encoding="utf-8"?>
<Media Key="584909ad-7176-4309-806e-0b2776c91ec6" Alias="Mdb" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Mdb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:48</CreateDate>
    <NodeName Default="Mdb" />
    <SortOrder>251</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tqefswdw/mdb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>