<?xml version="1.0" encoding="utf-8"?>
<Media Key="4cb2e5f3-9f34-488d-9996-038a9b1005ef" Alias="Medal" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Medal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:09</CreateDate>
    <NodeName Default="Medal" />
    <SortOrder>1175</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ylsletbu/medal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>