<?xml version="1.0" encoding="utf-8"?>
<Media Key="69751845-2ad2-4737-a7c4-d064695ecaf3" Alias="Meh Blank (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MehBlank1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:10</CreateDate>
    <NodeName Default="Meh Blank (1)" />
    <SortOrder>1178</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oqmhk0os/meh-blank.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>