<?xml version="1.0" encoding="utf-8"?>
<Media Key="afd13793-4d50-4595-90b9-a9e97e41e97c" Alias="Meh Rolling Eyes" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MehRollingEyes</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:27</CreateDate>
    <NodeName Default="Meh Rolling Eyes" />
    <SortOrder>570</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ui1ndl0q/meh-rolling-eyes.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>