<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e879996-3357-4434-92bf-90b5882e264a" Alias="Menorah" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Menorah</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:11</CreateDate>
    <NodeName Default="Menorah" />
    <SortOrder>1181</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u4mjphsx/menorah.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>