<?xml version="1.0" encoding="utf-8"?>
<Media Key="833df38f-6a87-4e4a-b2f3-84e4a9898e87" Alias="Microphone Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MicrophoneAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:13</CreateDate>
    <NodeName Default="Microphone Alt" />
    <SortOrder>1186</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x1zd1a2h/microphone-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>