<?xml version="1.0" encoding="utf-8"?>
<Media Key="316d198d-8219-4220-82c9-88503da96835" Alias="Microphone" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Microphone</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:13</CreateDate>
    <NodeName Default="Microphone" />
    <SortOrder>1185</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xqmh0miz/microphone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>