<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef78e216-f39f-43e4-abb9-4e85a89f1e94" Alias="Microphone Alt Slash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MicrophoneAltSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:14</CreateDate>
    <NodeName Default="Microphone Alt Slash" />
    <SortOrder>1187</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e5rhr125/microphone-alt-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>