<?xml version="1.0" encoding="utf-8"?>
<Media Key="0079ef67-3cb2-49be-8e15-0e846bd0453a" Alias="Microblog" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Microblog</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:49</CreateDate>
    <NodeName Default="Microblog" />
    <SortOrder>259</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k1xhsafs/microblog.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>