<?xml version="1.0" encoding="utf-8"?>
<Media Key="81377407-f316-42e9-a4a4-76cfa9af6239" Alias="Monument" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Monument</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:20</CreateDate>
    <NodeName Default="Monument" />
    <SortOrder>1202</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gz0dpaiw/monument.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>