<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d3ea9dd-9b32-4acc-9c68-57524401aabf" Alias="Mouse" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Mouse</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:23</CreateDate>
    <NodeName Default="Mouse" />
    <SortOrder>1208</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3sud2tjs/mouse.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>