<?xml version="1.0" encoding="utf-8"?>
<Media Key="492bf2ef-4d01-4f50-a5a9-bed389b81dee" Alias="Mouse Pointer" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/MousePointer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:23</CreateDate>
    <NodeName Default="Mouse Pointer" />
    <SortOrder>1209</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/11zcwsib/mouse-pointer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>