<?xml version="1.0" encoding="utf-8"?>
<Media Key="24e2ee38-2c1e-4d36-bedc-b8f3094ddb9f" Alias="Music" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Music</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:24</CreateDate>
    <NodeName Default="Music" />
    <SortOrder>1211</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bhxoeja4/music.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>