<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0c8a05d-49d3-4d87-a66a-0ab98908a7fd" Alias="Napster" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Napster</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:51</CreateDate>
    <NodeName Default="Napster" />
    <SortOrder>267</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nsqmrigt/napster.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>