<?xml version="1.0" encoding="utf-8"?>
<Media Key="bea5de5c-6026-4df0-a037-ccd9ba7e144e" Alias="Newspaper (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Newspaper1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:25</CreateDate>
    <NodeName Default="Newspaper (1)" />
    <SortOrder>1214</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nxpklprg/newspaper.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>