<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b0cfd93-a24c-4d9c-a7a3-c428b4a4e277" Alias="Newspaper" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Newspaper</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:28</CreateDate>
    <NodeName Default="Newspaper" />
    <SortOrder>574</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ul4bzg0m/newspaper.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>