<?xml version="1.0" encoding="utf-8"?>
<Media Key="907526fc-6f4a-444e-aa7b-afd9445b88e3" Alias="Node" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Node</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:52</CreateDate>
    <NodeName Default="Node" />
    <SortOrder>270</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zuthleck/node.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>