<?xml version="1.0" encoding="utf-8"?>
<Media Key="69ffa99d-328d-4bb7-a9eb-6b28b716d398" Alias="Npm" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Npm</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:52</CreateDate>
    <NodeName Default="Npm" />
    <SortOrder>272</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vsup40mn/npm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>