<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d358cd4-e4bb-49d4-8b25-cd97c440522f" Alias="Ns8" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Ns8</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:52</CreateDate>
    <NodeName Default="Ns8" />
    <SortOrder>273</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2wgdkln1/ns8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>