<?xml version="1.0" encoding="utf-8"?>
<Media Key="17476c7d-3922-456d-b9ba-e73b32d64882" Alias="Object Ungroup" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ObjectUngroup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:28</CreateDate>
    <NodeName Default="Object Ungroup" />
    <SortOrder>576</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jrweofzc/object-ungroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>