<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3f30449-375a-4724-81ff-6e43c08abe3c" Alias="Odnoklassniki" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Odnoklassniki</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:53</CreateDate>
    <NodeName Default="Odnoklassniki" />
    <SortOrder>276</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pacphi00/odnoklassniki.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>