<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf134b5b-bbdd-416f-a906-c49a6b684352" Alias="Om" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Om</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:28</CreateDate>
    <NodeName Default="Om" />
    <SortOrder>1220</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/njfbhp43/om.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>