<?xml version="1.0" encoding="utf-8"?>
<Media Key="a11213e3-5c11-427e-9a30-d7dff940eb11" Alias="Page4" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Page4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:55</CreateDate>
    <NodeName Default="Page4" />
    <SortOrder>285</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ijbfiir/page4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>