<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fee563a-8407-4651-989c-00a3b3f23987" Alias="Paint Roller" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PaintRoller</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:30</CreateDate>
    <NodeName Default="Paint Roller" />
    <SortOrder>1225</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bnlo2tyh/paint-roller.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>