<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbe166fa-3556-4311-885c-8d9cba850c2e" Alias="Paste" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Paste</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:34</CreateDate>
    <NodeName Default="Paste" />
    <SortOrder>1235</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zntods0w/paste.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>