<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e84c67b-7601-4c37-94a2-9e2d0bf3b3de" Alias="Pastafarianism" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Pastafarianism</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:34</CreateDate>
    <NodeName Default="Pastafarianism" />
    <SortOrder>1234</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jldijdqb/pastafarianism.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>