<?xml version="1.0" encoding="utf-8"?>
<Media Key="3899ac3e-1790-4c17-bcc8-453503165eb6" Alias="Patreon" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Patreon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:55</CreateDate>
    <NodeName Default="Patreon" />
    <SortOrder>288</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b4wjsoeq/patreon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>