<?xml version="1.0" encoding="utf-8"?>
<Media Key="29af15ac-11e7-499a-a402-83cbd3464242" Alias="Pen Nib" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PenNib</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:38</CreateDate>
    <NodeName Default="Pen Nib" />
    <SortOrder>1245</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tukl4kph/pen-nib.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>