<?xml version="1.0" encoding="utf-8"?>
<Media Key="a568def8-9f5c-4287-8584-0a65bf309616" Alias="Pen" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Pen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:36</CreateDate>
    <NodeName Default="Pen" />
    <SortOrder>1240</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zhpgrjk2/pen.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>