<?xml version="1.0" encoding="utf-8"?>
<Media Key="779c49fa-a03c-41c5-93fc-475df8544ce8" Alias="Penny Arcade" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PennyArcade</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:56</CreateDate>
    <NodeName Default="Penny Arcade" />
    <SortOrder>290</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/znejy3z2/penny-arcade.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>