<?xml version="1.0" encoding="utf-8"?>
<Media Key="625dfe9f-3937-4a1c-8df7-c195b5f79f27" Alias="People Arrows" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PeopleArrows</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:39</CreateDate>
    <NodeName Default="People Arrows" />
    <SortOrder>1247</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v15f0yrx/people-arrows.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>