<?xml version="1.0" encoding="utf-8"?>
<Media Key="d19281fe-5567-4282-ae3b-a726de7f4732" Alias="Phoenix Squadron" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PhoenixSquadron</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:57</CreateDate>
    <NodeName Default="Phoenix Squadron" />
    <SortOrder>295</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4ajfulh/phoenix-squadron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>