<?xml version="1.0" encoding="utf-8"?>
<Media Key="500692b7-122f-4c97-ab9a-ece793b2be21" Alias="Photo Video" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PhotoVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:45</CreateDate>
    <NodeName Default="Photo Video" />
    <SortOrder>1259</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q0jamubp/photo-video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>