<?xml version="1.0" encoding="utf-8"?>
<Media Key="491cb640-f982-4d4b-90fb-52a8655fe175" Alias="Pied Piper Square" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PiedPiperSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:58</CreateDate>
    <NodeName Default="Pied Piper Square" />
    <SortOrder>301</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/og1bysmc/pied-piper-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>