<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c18670c-e3ce-4b39-a698-4d09a134a9b7" Alias="Pills" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Pills</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:45</CreateDate>
    <NodeName Default="Pills" />
    <SortOrder>1261</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hvtbrhgo/pills.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>