<?xml version="1.0" encoding="utf-8"?>
<Media Key="45f3c928-376a-4c58-bc37-c63910664ed2" Alias="Pinterest" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Pinterest</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:24:58</CreateDate>
    <NodeName Default="Pinterest" />
    <SortOrder>302</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhepgrlk/pinterest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>