<?xml version="1.0" encoding="utf-8"?>
<Media Key="8361337d-fff8-4518-9e82-e00b12c8418d" Alias="Pizza Slice" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PizzaSlice</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:46</CreateDate>
    <NodeName Default="Pizza Slice" />
    <SortOrder>1262</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqzhda5y/pizza-slice.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>