<?xml version="1.0" encoding="utf-8"?>
<Media Key="838ff48a-337b-46ed-a913-1ea95fb1071a" Alias="Plane" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Plane</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:47</CreateDate>
    <NodeName Default="Plane" />
    <SortOrder>1264</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xp0i5a11/plane.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>