<?xml version="1.0" encoding="utf-8"?>
<Media Key="7749acb0-614b-49c9-8cc5-34c10a6b5860" Alias="Plane Arrival" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PlaneArrival</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:47</CreateDate>
    <NodeName Default="Plane Arrival" />
    <SortOrder>1265</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qgwes30l/plane-arrival.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>