<?xml version="1.0" encoding="utf-8"?>
<Media Key="31b6990e-1346-423c-a32d-a94361d09cbe" Alias="Plug" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Plug</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:50</CreateDate>
    <NodeName Default="Plug" />
    <SortOrder>1270</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h4mlmmkg/plug.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>