<?xml version="1.0" encoding="utf-8"?>
<Media Key="40256ba4-81f9-46cb-bd63-7c7314e635e3" Alias="Plus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Plus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:50</CreateDate>
    <NodeName Default="Plus" />
    <SortOrder>1271</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/svvdkqhz/plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>