<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ece8a1c-5b04-445d-be38-22f0ad813f76" Alias="Poll H" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PollH</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:52</CreateDate>
    <NodeName Default="Poll H" />
    <SortOrder>1276</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fwfm2tqe/poll-h.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>