<?xml version="1.0" encoding="utf-8"?>
<Media Key="c63da47a-2156-4080-8a57-b91bf7461907" Alias="Praying Hands" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PrayingHands</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:56</CreateDate>
    <NodeName Default="Praying Hands" />
    <SortOrder>1284</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/josd1rsw/praying-hands.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>