<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea6ed6dd-9802-4cfb-becb-dbfdbd7d315f" Alias="Pray" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Pray</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:55</CreateDate>
    <NodeName Default="Pray" />
    <SortOrder>1283</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3tlg30qc/pray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>