<?xml version="1.0" encoding="utf-8"?>
<Media Key="056e3a58-7fc6-46a1-859b-cf9b33f376e0" Alias="Profile (3)" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/Profile3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T13:54:40</CreateDate>
    <NodeName Default="Profile (3)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ly3g2bog/profile.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>