<?xml version="1.0" encoding="utf-8"?>
<Media Key="36b42b75-6351-4a14-9a8a-2a71c0a9a065" Alias="Profile" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/Profile</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-29T13:15:01</CreateDate>
    <NodeName Default="Profile" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/omvlinsr/profile.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>