<?xml version="1.0" encoding="utf-8"?>
<Media Key="addafd40-49fd-44a3-8b4f-df6bb2daaf9d" Alias="Profile (4)" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/Profile4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T14:08:40</CreateDate>
    <NodeName Default="Profile (4)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i14nvlp3/profile.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>