<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebbd17e1-73ff-4753-b291-4ee618ba6de1" Alias="Profile (2)" Level="2">
  <Info>
    <Parent Key="88614415-784f-4421-84c1-5318b75cf2f4">Profile Images</Parent>
    <Path>/ProfileImages/Profile2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T12:31:52</CreateDate>
    <NodeName Default="Profile (2)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/22ll1055/profile.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>