<?xml version="1.0" encoding="utf-8"?>
<Media Key="88614415-784f-4421-84c1-5318b75cf2f4" Alias="Profile Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProfileImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-29T13:14:53</CreateDate>
    <NodeName Default="Profile Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>