<?xml version="1.0" encoding="utf-8"?>
<Media Key="16850f00-caac-4787-b0b3-548c1502c1bc" Alias="Pump Medical" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/PumpMedical</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:30:59</CreateDate>
    <NodeName Default="Pump Medical" />
    <SortOrder>1291</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gehjkfvm/pump-medical.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>