<?xml version="1.0" encoding="utf-8"?>
<Media Key="76018887-41a9-4e41-9fcb-f34a1e9f4496" Alias="Python" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Python</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:00</CreateDate>
    <NodeName Default="Python" />
    <SortOrder>308</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w0eac3vj/python.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>