<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a5a35dd-768f-449e-b14c-d8dac6fbbca3" Alias="Qq" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Qq</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:00</CreateDate>
    <NodeName Default="Qq" />
    <SortOrder>309</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3q0fvcup/qq.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>