<?xml version="1.0" encoding="utf-8"?>
<Media Key="39a99fdb-282a-49bc-979c-d93bd5e537ef" Alias="Qrcode" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Qrcode</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:00</CreateDate>
    <NodeName Default="Qrcode" />
    <SortOrder>1294</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3kplsojk/qrcode.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>