<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2c52a59-04ef-4176-b281-3730474e793e" Alias="Quidditch" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Quidditch</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:02</CreateDate>
    <NodeName Default="Quidditch" />
    <SortOrder>1297</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/navml2xp/quidditch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>