<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fdeea63-3cfb-4d24-872a-ef994132eb03" Alias="Quinscape" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Quinscape</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:00</CreateDate>
    <NodeName Default="Quinscape" />
    <SortOrder>310</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/klvn2l51/quinscape.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>