<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f82cf1f-2186-4108-8868-bbb7abc38dea" Alias="Quora" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Quora</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:00</CreateDate>
    <NodeName Default="Quora" />
    <SortOrder>311</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1hjed2g/quora.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>