<?xml version="1.0" encoding="utf-8"?>
<Media Key="94af530c-8736-4958-8c8b-0c0d7c27bfaf" Alias="Quote Right" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/QuoteRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:03</CreateDate>
    <NodeName Default="Quote Right" />
    <SortOrder>1299</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hvjl5fbw/quote-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>