<?xml version="1.0" encoding="utf-8"?>
<Media Key="e84eb867-2745-41c5-bb84-2bcba3fd3597" Alias="Quran" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Quran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:03</CreateDate>
    <NodeName Default="Quran" />
    <SortOrder>1300</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k02e30cf/quran.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>