<?xml version="1.0" encoding="utf-8"?>
<Media Key="451ff053-105f-439e-8b20-9083dd433d89" Alias="R Project" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RProject</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:04</CreateDate>
    <NodeName Default="R Project" />
    <SortOrder>330</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mlyb4rk5/r-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>