<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfd0076c-8a0d-463f-8449-76129cca2aa0" Alias="Rainbow" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Rainbow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:05</CreateDate>
    <NodeName Default="Rainbow" />
    <SortOrder>1303</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ludnbtyn/rainbow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>