<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6cff343-77f9-4f09-8ce0-2e9d20eed262" Alias="Raspberry Pi" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RaspberryPi</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:00</CreateDate>
    <NodeName Default="Raspberry Pi" />
    <SortOrder>312</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/olzn53xz/raspberry-pi.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>