<?xml version="1.0" encoding="utf-8"?>
<Media Key="e88f177e-66c7-45fb-923f-ad4a846bb81e" Alias="Reacteurope" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Reacteurope</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:01</CreateDate>
    <NodeName Default="Reacteurope" />
    <SortOrder>315</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j2lj50gh/reacteurope.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>