<?xml version="1.0" encoding="utf-8"?>
<Media Key="56d80688-317c-48db-b7e8-a89fd55b5cdc" Alias="Rebel" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Rebel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:01</CreateDate>
    <NodeName Default="Rebel" />
    <SortOrder>317</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xednqvt2/rebel.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>