<?xml version="1.0" encoding="utf-8"?>
<Media Key="9304ddc2-d319-4b33-97f4-8be085c53bfe" Alias="Red River" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RedRiver</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:02</CreateDate>
    <NodeName Default="Red River" />
    <SortOrder>322</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4pobjeyz/red-river.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>