<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b84bcd9-a91c-4f53-918e-1b470260f2e2" Alias="Reddit Alien" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RedditAlien</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:02</CreateDate>
    <NodeName Default="Reddit Alien" />
    <SortOrder>319</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3c4iiky2/reddit-alien.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>