<?xml version="1.0" encoding="utf-8"?>
<Media Key="93e17ab6-c96f-4fb4-92b2-5d4c805f0be5" Alias="Registered" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Registered</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:30</CreateDate>
    <NodeName Default="Registered" />
    <SortOrder>582</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q33ode1p/registered.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>