<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a11ccfa-5c91-49ee-8d65-caf677c80e84" Alias="Remove Format" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RemoveFormat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:08</CreateDate>
    <NodeName Default="Remove Format" />
    <SortOrder>1311</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zpgbcwur/remove-format.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>