<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cb75345-ed09-4b6a-b122-62c589c1f28a" Alias="Renren" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Renren</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:03</CreateDate>
    <NodeName Default="Renren" />
    <SortOrder>323</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/orjlolaj/renren.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>