<?xml version="1.0" encoding="utf-8"?>
<Media Key="29943e2c-e68a-40b5-ab47-9cf98603f804" Alias="Reply All" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ReplyAll</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:09</CreateDate>
    <NodeName Default="Reply All" />
    <SortOrder>1313</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/du5jikmk/reply-all.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>