<?xml version="1.0" encoding="utf-8"?>
<Media Key="483c4999-d74a-4a43-9f29-e04bd439946f" Alias="Replyd" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Replyd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:03</CreateDate>
    <NodeName Default="Replyd" />
    <SortOrder>324</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vbedysck/replyd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>