<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab98bddd-7e93-45e3-ba25-e878b91150b4" Alias="Reply" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Reply</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:09</CreateDate>
    <NodeName Default="Reply" />
    <SortOrder>1312</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3s4jrk2t/reply.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>