<?xml version="1.0" encoding="utf-8"?>
<Media Key="821abca3-621d-47a5-a0cc-861907236606" Alias="Resolving" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Resolving</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:03</CreateDate>
    <NodeName Default="Resolving" />
    <SortOrder>326</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sk4bvaq3/resolving.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>