<?xml version="1.0" encoding="utf-8"?>
<Media Key="1157421c-621b-48fc-88d4-d83383f711b2" Alias="Restroom" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Restroom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:10</CreateDate>
    <NodeName Default="Restroom" />
    <SortOrder>1315</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fvbfoei1/restroom.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>