<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa64d724-1e53-43f5-a1a7-ed8a577d738b" Alias="Robot" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Robot</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:12</CreateDate>
    <NodeName Default="Robot" />
    <SortOrder>1320</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cxlhjkst/robot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>