<?xml version="1.0" encoding="utf-8"?>
<Media Key="f60ea26e-71bb-4d8e-aa32-53b5efaeb9b8" Alias="Rocket" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Rocket</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:13</CreateDate>
    <NodeName Default="Rocket" />
    <SortOrder>1321</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l4ra33v1/rocket.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>