<?xml version="1.0" encoding="utf-8"?>
<Media Key="6805be1d-0dc5-4391-9b73-b77b5c2b2110" Alias="Rss" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Rss</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:14</CreateDate>
    <NodeName Default="Rss" />
    <SortOrder>1323</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fs5ak0gf/rss.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>