<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5931357-74bc-4490-8a44-791f68eb8c3b" Alias="Ruble Sign" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RubleSign</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:15</CreateDate>
    <NodeName Default="Ruble Sign" />
    <SortOrder>1325</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/myjjh3n2/ruble-sign.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>