<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2f4933a-57d0-4277-9adf-75a8bf368a59" Alias="Ruler Vertical" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RulerVertical</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:17</CreateDate>
    <NodeName Default="Ruler Vertical" />
    <SortOrder>1329</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bojpjmwq/ruler-vertical.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>