<?xml version="1.0" encoding="utf-8"?>
<Media Key="a252f5e8-8a67-4f06-91d6-93b0f045b887" Alias="Ruler" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Ruler</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:15</CreateDate>
    <NodeName Default="Ruler" />
    <SortOrder>1326</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1h0ffith/ruler.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>