<?xml version="1.0" encoding="utf-8"?>
<Media Key="45498d55-4ca8-4fed-969a-c69b8636bde7" Alias="Ruler Horizontal" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/RulerHorizontal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:16</CreateDate>
    <NodeName Default="Ruler Horizontal" />
    <SortOrder>1328</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/msgfsrni/ruler-horizontal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>