<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fcc8538-c66a-4fe1-911e-c5939d1ef10a" Alias="Running" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Running</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:17</CreateDate>
    <NodeName Default="Running" />
    <SortOrder>1330</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bgcny51k/running.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>