<?xml version="1.0" encoding="utf-8"?>
<Media Key="5be89530-7c4c-475c-b458-d497784f49e0" Alias="Rust" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Rust</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:04</CreateDate>
    <NodeName Default="Rust" />
    <SortOrder>331</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/agkpqw0m/rust.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>