<?xml version="1.0" encoding="utf-8"?>
<Media Key="4680d6d8-471d-4bba-a207-86fa3c4d6b17" Alias="Sad Tear" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SadTear</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:30</CreateDate>
    <NodeName Default="Sad Tear" />
    <SortOrder>584</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3hliarq3/sad-tear.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>