<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a7affcb-4469-4a9a-9f73-2f5c7fd5d15a" Alias="Satellite" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Satellite</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:19</CreateDate>
    <NodeName Default="Satellite" />
    <SortOrder>1334</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5l5hvctj/satellite.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>