<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c6657df-2bef-4f3b-b189-2d8b136da662" Alias="Screwdriver" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Screwdriver</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:20</CreateDate>
    <NodeName Default="Screwdriver" />
    <SortOrder>1338</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3zlhmhhp/screwdriver.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>