<?xml version="1.0" encoding="utf-8"?>
<Media Key="99584667-a3b2-4928-af2f-d1feec6d740b" Alias="Seedling" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Seedling</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:24</CreateDate>
    <NodeName Default="Seedling" />
    <SortOrder>1346</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzdfrgns/seedling.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>