<?xml version="1.0" encoding="utf-8"?>
<Media Key="088bb560-26ab-40eb-8808-37116c0c7ac0" Alias="Sellsy" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Sellsy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:06</CreateDate>
    <NodeName Default="Sellsy" />
    <SortOrder>339</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kg0jwcfl/sellsy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>