<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4717012-7eaf-4a6f-adf9-ee3e2d4d3a00" Alias="Server" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Server</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:25</CreateDate>
    <NodeName Default="Server" />
    <SortOrder>1347</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enyhd3fp/server.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>