<?xml version="1.0" encoding="utf-8"?>
<Media Key="aeeea79b-b540-4e57-8fa1-5cdb0e0e8076" Alias="Shapes" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Shapes</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:25</CreateDate>
    <NodeName Default="Shapes" />
    <SortOrder>1348</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vktp3lsa/shapes.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>