<?xml version="1.0" encoding="utf-8"?>
<Media Key="d20ea551-834b-4e3d-8624-b4d313b5db96" Alias="Share Square" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ShareSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:31</CreateDate>
    <NodeName Default="Share Square" />
    <SortOrder>586</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mcsb3usl/share-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>