<?xml version="1.0" encoding="utf-8"?>
<Media Key="707a97b8-fd15-4f2e-9c95-0de49221ce49" Alias="Shield Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ShieldAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:28</CreateDate>
    <NodeName Default="Shield Alt" />
    <SortOrder>1354</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rglhu2av/shield-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>