<?xml version="1.0" encoding="utf-8"?>
<Media Key="d578042e-97f0-46a9-81d8-835f54a35964" Alias="Shipping Fast" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ShippingFast</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:29</CreateDate>
    <NodeName Default="Shipping Fast" />
    <SortOrder>1357</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d2chrvpq/shipping-fast.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>