<?xml version="1.0" encoding="utf-8"?>
<Media Key="65e382bf-f3c1-441b-9534-ab05fa30970a" Alias="Ship" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Ship</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:29</CreateDate>
    <NodeName Default="Ship" />
    <SortOrder>1356</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r0bogzob/ship.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>