<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae468cb7-afb3-42b2-bd2b-b7a256d8ce5d" Alias="Shoe Prints" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ShoePrints</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:30</CreateDate>
    <NodeName Default="Shoe Prints" />
    <SortOrder>1358</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q0genlvt/shoe-prints.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>