<?xml version="1.0" encoding="utf-8"?>
<Media Key="67fef893-1d65-499b-a85d-afa42dd3a16d" Alias="Shopping Bag" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ShoppingBag</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:30</CreateDate>
    <NodeName Default="Shopping Bag" />
    <SortOrder>1359</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ul2p2z1f/shopping-bag.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>