<?xml version="1.0" encoding="utf-8"?>
<Media Key="49ccab07-e176-4326-bdae-6893f27c8481" Alias="Shower" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Shower</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:32</CreateDate>
    <NodeName Default="Shower" />
    <SortOrder>1362</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g0vnyslw/shower.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>