<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee235d3e-3f0c-4baf-bb0c-2188b834de7e" Alias="Sistrix" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Sistrix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:07</CreateDate>
    <NodeName Default="Sistrix" />
    <SortOrder>345</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3odh1qm/sistrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>