<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecd10ed8-2197-4775-a852-7d8cf5c34e67" Alias="Sith" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Sith</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:08</CreateDate>
    <NodeName Default="Sith" />
    <SortOrder>346</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ehnd1ex/sith.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>