<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d5425c7-d77a-41c0-8dbd-638083522c23" Alias="Sketch" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Sketch</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:08</CreateDate>
    <NodeName Default="Sketch" />
    <SortOrder>347</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ysfi5l0/sketch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>