<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcccfc4f-620b-4711-be70-c7ac6f1335e0" Alias="Skiing" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Skiing</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:37</CreateDate>
    <NodeName Default="Skiing" />
    <SortOrder>1374</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p14mzpal/skiing.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>