<?xml version="1.0" encoding="utf-8"?>
<Media Key="6da525cc-6821-4804-9b73-ee6347c2a92c" Alias="Slideshare" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Slideshare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:09</CreateDate>
    <NodeName Default="Slideshare" />
    <SortOrder>352</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5uslk1jb/slideshare.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>