<?xml version="1.0" encoding="utf-8"?>
<Media Key="504d9ad7-04e0-4f48-ac55-729c4645d59c" Alias="Smile Wink (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SmileWink1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:41</CreateDate>
    <NodeName Default="Smile Wink (1)" />
    <SortOrder>1383</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/20ne0uha/smile-wink.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>