<?xml version="1.0" encoding="utf-8"?>
<Media Key="b63bde57-4e98-4c05-84a8-ee797f450b48" Alias="Smoking Ban" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SmokingBan</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:43</CreateDate>
    <NodeName Default="Smoking Ban" />
    <SortOrder>1386</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m1pdxnuy/smoking-ban.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>