<?xml version="1.0" encoding="utf-8"?>
<Media Key="5875cb19-0520-4eb4-9662-9684c7685d9b" Alias="Snapchat Square" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SnapchatSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:09</CreateDate>
    <NodeName Default="Snapchat Square" />
    <SortOrder>355</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fdfhkwba/snapchat-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>