<?xml version="1.0" encoding="utf-8"?>
<Media Key="92a2c1e2-c120-4469-a2ba-ea776f80d3a4" Alias="Snapchat" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Snapchat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:09</CreateDate>
    <NodeName Default="Snapchat" />
    <SortOrder>353</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0palfera/snapchat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>