<?xml version="1.0" encoding="utf-8"?>
<Media Key="d02064ee-5674-402f-9a57-89e8a996e501" Alias="Snowboarding" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Snowboarding</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:44</CreateDate>
    <NodeName Default="Snowboarding" />
    <SortOrder>1388</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/13scbudu/snowboarding.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>