<?xml version="1.0" encoding="utf-8"?>
<Media Key="a814b429-e8d4-491d-b2a3-0c7968b370fa" Alias="Snowflake (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Snowflake1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:44</CreateDate>
    <NodeName Default="Snowflake (1)" />
    <SortOrder>1389</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dc0bjkgu/snowflake.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>