<?xml version="1.0" encoding="utf-8"?>
<Media Key="d01615db-817a-48eb-8df6-124ab34a97db" Alias="Snowman" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Snowman</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:45</CreateDate>
    <NodeName Default="Snowman" />
    <SortOrder>1390</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ikbnud0/snowman.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>