<?xml version="1.0" encoding="utf-8"?>
<Media Key="591347e7-bb66-42eb-b05d-8339bee5237d" Alias="Soap" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Soap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:46</CreateDate>
    <NodeName Default="Soap" />
    <SortOrder>1392</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0zdbgwlg/soap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>