<?xml version="1.0" encoding="utf-8"?>
<Media Key="6df7d7d1-e60c-43aa-860c-bb4e13ce91c3" Alias="Solar Panel" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SolarPanel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:47</CreateDate>
    <NodeName Default="Solar Panel" />
    <SortOrder>1394</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2dlpo1im/solar-panel.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>