<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e2c5aea-5f73-4feb-9fa1-889bf31dd07f" Alias="Sort Amount Down" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SortAmountDown</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:50</CreateDate>
    <NodeName Default="Sort Amount Down" />
    <SortOrder>1400</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1nncy1tt/sort-amount-down.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>