<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee86b29f-092a-4974-9f69-d81975e9c4b4" Alias="Sort Alpha Up" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SortAlphaUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:49</CreateDate>
    <NodeName Default="Sort Alpha Up" />
    <SortOrder>1398</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v0zin1rk/sort-alpha-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>