<?xml version="1.0" encoding="utf-8"?>
<Media Key="293da933-8263-4874-bcde-afbecd9e7929" Alias="Sort Alpha Up Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SortAlphaUpAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:49</CreateDate>
    <NodeName Default="Sort Alpha Up Alt" />
    <SortOrder>1399</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/akud0kld/sort-alpha-up-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>