<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ef51cca-e457-4df3-83fc-b676624223c7" Alias="Spa" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Spa</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:55</CreateDate>
    <NodeName Default="Spa" />
    <SortOrder>1410</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5mopktsx/spa.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>