<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0840e40-b04a-447f-9f08-b846acbee741" Alias="Spell Check" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SpellCheck</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:56</CreateDate>
    <NodeName Default="Spell Check" />
    <SortOrder>1412</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oehijick/spell-check.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>