<?xml version="1.0" encoding="utf-8"?>
<Media Key="5811f2e1-b012-431f-9f65-dc6d3340d93d" Alias="Spider" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Spider</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:56</CreateDate>
    <NodeName Default="Spider" />
    <SortOrder>1413</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0dzbcwas/spider.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>