<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7fa4c59-37eb-4d38-9e85-5afcb2454629" Alias="Splotch" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Splotch</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:57</CreateDate>
    <NodeName Default="Splotch" />
    <SortOrder>1415</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nbgpv35l/splotch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>