<?xml version="1.0" encoding="utf-8"?>
<Media Key="c90ffad6-bd31-4761-b406-78701c3a21a5" Alias="Square (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Square1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:58</CreateDate>
    <NodeName Default="Square (1)" />
    <SortOrder>1417</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/253a5sjr/square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>