<?xml version="1.0" encoding="utf-8"?>
<Media Key="047afec3-40e5-4ee4-8ec2-d4b9ad819fc5" Alias="Square Root Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/SquareRootAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:31:59</CreateDate>
    <NodeName Default="Square Root Alt" />
    <SortOrder>1419</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4l5hubhf/square-root-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>