<?xml version="1.0" encoding="utf-8"?>
<Media Key="335678de-5eeb-401a-b468-4972678e8e05" Alias="Star" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Star</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:33</CreateDate>
    <NodeName Default="Star" />
    <SortOrder>592</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/332fmm5l/star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>