<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f126e9d-7924-49b7-a272-894d9bcac323" Alias="Steam" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Steam</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:12</CreateDate>
    <NodeName Default="Steam" />
    <SortOrder>366</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrxbepze/steam.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>