<?xml version="1.0" encoding="utf-8"?>
<Media Key="27f2a397-3293-4cd3-be78-fdc653e4d1f8" Alias="Step Backward" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/StepBackward</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:03</CreateDate>
    <NodeName Default="Step Backward" />
    <SortOrder>1427</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u0rpej2t/step-backward.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>