<?xml version="1.0" encoding="utf-8"?>
<Media Key="309d0ce3-5222-4d15-9262-435f359c08ad" Alias="Step Forward" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/StepForward</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:03</CreateDate>
    <NodeName Default="Step Forward" />
    <SortOrder>1428</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0igj0mbc/step-forward.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>