<?xml version="1.0" encoding="utf-8"?>
<Media Key="8888fc3f-6ac4-4e57-a5c7-beb0528fd532" Alias="Sticker Mule" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/StickerMule</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:13</CreateDate>
    <NodeName Default="Sticker Mule" />
    <SortOrder>369</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b14ircge/sticker-mule.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>