<?xml version="1.0" encoding="utf-8"?>
<Media Key="35193eb6-0934-42ed-a9ea-526141e74765" Alias="Stopwatch 20" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Stopwatch20</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:06</CreateDate>
    <NodeName Default="Stopwatch 20" />
    <SortOrder>1434</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q25bsnju/stopwatch-20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>