<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc1a59ac-8c41-4fb6-a11c-a109ed4b3c2d" Alias="Store Slash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/StoreSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:08</CreateDate>
    <NodeName Default="Store Slash" />
    <SortOrder>1438</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tvmbv5cb/store-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>