<?xml version="1.0" encoding="utf-8"?>
<Media Key="555cab3c-8f97-456b-9c65-483eebc4c360" Alias="Strava" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Strava</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:13</CreateDate>
    <NodeName Default="Strava" />
    <SortOrder>370</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bwvfyvmx/strava.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>