<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f91de37-7a83-436a-82cd-adebd0b1cec4" Alias="Strikethrough" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Strikethrough</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:09</CreateDate>
    <NodeName Default="Strikethrough" />
    <SortOrder>1441</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a1pjc12d/strikethrough.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>