<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d8847d1-2f9b-4b41-aec8-6b675fd22e08" Alias="Subway" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Subway</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:11</CreateDate>
    <NodeName Default="Subway" />
    <SortOrder>1444</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2bdjqxm1/subway.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>