<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a9fa74-e3b2-43a9-bc4d-6af6e3813fdc" Alias="Sun" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Sun</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:34</CreateDate>
    <NodeName Default="Sun" />
    <SortOrder>596</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ix3ktcfs/sun.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>