<?xml version="1.0" encoding="utf-8"?>
<Media Key="49cdda8e-6cbe-4fa5-830d-8f4c771f5b13" Alias="Surprise (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Surprise1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:13</CreateDate>
    <NodeName Default="Surprise (1)" />
    <SortOrder>1449</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5nm0sn4/surprise.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>