<?xml version="1.0" encoding="utf-8"?>
<Media Key="43e63860-ff1b-4e68-86e9-2287521ccd1c" Alias="Suse" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Suse</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:14</CreateDate>
    <NodeName Default="Suse" />
    <SortOrder>378</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ke2omqy1/suse.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>