<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe1615f8-7be2-4cf4-82a9-e2f158805ba4" Alias="Synagogue" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Synagogue</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:15</CreateDate>
    <NodeName Default="Synagogue" />
    <SortOrder>1453</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zekbn5xc/synagogue.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>