<?xml version="1.0" encoding="utf-8"?>
<Media Key="53b2e67a-eadc-436a-8acd-244f4bc88563" Alias="Table" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Table</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:17</CreateDate>
    <NodeName Default="Table" />
    <SortOrder>1457</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jptleu42/table.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>