<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb30cc72-3a98-4f41-8350-c771ad03afce" Alias="Table Tennis" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TableTennis</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:19</CreateDate>
    <NodeName Default="Table Tennis" />
    <SortOrder>1460</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ipgdb42y/table-tennis.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>