<?xml version="1.0" encoding="utf-8"?>
<Media Key="0846e358-7a67-43ac-9046-a3bc40d9b6ef" Alias="Tags" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:21</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>1464</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhrfmcdh/tags.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>