<?xml version="1.0" encoding="utf-8"?>
<Media Key="27696b67-a12d-4abb-aa92-e0aca8c90a9d" Alias="Tape" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tape</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:22</CreateDate>
    <NodeName Default="Tape" />
    <SortOrder>1465</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzvhsjzn/tape.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>