<?xml version="1.0" encoding="utf-8"?>
<Media Key="1775592b-44bc-46f9-ab0c-ab57a2722848" Alias="Teeth" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Teeth</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:23</CreateDate>
    <NodeName Default="Teeth" />
    <SortOrder>1468</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/djmhkf32/teeth.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>