<?xml version="1.0" encoding="utf-8"?>
<Media Key="27ef9caa-c2d3-49b3-aa92-d55437b81f59" Alias="Temperature Low" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TemperatureLow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:24</CreateDate>
    <NodeName Default="Temperature Low" />
    <SortOrder>1471</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tooo4j4t/temperature-low.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>