<?xml version="1.0" encoding="utf-8"?>
<Media Key="68d1a00f-7a3b-4686-bd5e-c26263fabf56" Alias="Terminal" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Terminal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:25</CreateDate>
    <NodeName Default="Terminal" />
    <SortOrder>1473</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h0qnc0b1/terminal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>