<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb280c46-1371-4f9f-b7c0-05416a290d44" Alias="Text Height" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TextHeight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:26</CreateDate>
    <NodeName Default="Text Height" />
    <SortOrder>1474</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o2gcr01r/text-height.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>