<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac647eac-acda-4605-b1a8-2b2aaa65a146" Alias="Text Width" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TextWidth</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:26</CreateDate>
    <NodeName Default="Text Width" />
    <SortOrder>1475</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tv5gjlg0/text-width.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>