<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ede23d8-e71c-4b39-b74b-c7c6c8bdf104" Alias="Th" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Th</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:27</CreateDate>
    <NodeName Default="Th" />
    <SortOrder>1476</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ern25q2/th.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>