<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8d8e44f-97d4-480a-9fc6-48d6404670d7" Alias="Thermometer" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Thermometer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:28</CreateDate>
    <NodeName Default="Thermometer" />
    <SortOrder>1478</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p1snr0gu/thermometer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>