<?xml version="1.0" encoding="utf-8"?>
<Media Key="a04f8ff1-f3ec-4b46-8539-ab7f2490b846" Alias="Think Peaks" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ThinkPeaks</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:17</CreateDate>
    <NodeName Default="Think Peaks" />
    <SortOrder>388</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ychf5ihm/think-peaks.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>