<?xml version="1.0" encoding="utf-8"?>
<Media Key="04d25811-cbfd-4fd5-ab2f-dde046071298" Alias="Thumbtack" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Thumbtack</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:33</CreateDate>
    <NodeName Default="Thumbtack" />
    <SortOrder>1488</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ebmnebh3/thumbtack.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>