<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a890c96-ea01-430f-a050-f1ae9ab0000d" Alias="Thumbs Up" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/ThumbsUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:34</CreateDate>
    <NodeName Default="Thumbs Up" />
    <SortOrder>599</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u2gisoqb/thumbs-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>