<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5cdfbf3-09a5-4e1b-a805-05125dae5a12" Alias="Tint" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tint</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:35</CreateDate>
    <NodeName Default="Tint" />
    <SortOrder>1492</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yl3n1vnf/tint.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>