<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8f0c302-2b15-44d6-b558-3c7270761f92" Alias="Tint Slash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TintSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:35</CreateDate>
    <NodeName Default="Tint Slash" />
    <SortOrder>1493</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gpbpb4av/tint-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>