<?xml version="1.0" encoding="utf-8"?>
<Media Key="158ca4c5-f25d-4e61-a327-6b25e438601e" Alias="Tired" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tired</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:35</CreateDate>
    <NodeName Default="Tired" />
    <SortOrder>601</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ssiyfk3/tired.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>