<?xml version="1.0" encoding="utf-8"?>
<Media Key="571a5a94-f3ed-4b9f-8ca4-ee1dd80fdefb" Alias="Toolbox" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Toolbox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:38</CreateDate>
    <NodeName Default="Toolbox" />
    <SortOrder>1500</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uvnbuv5n/toolbox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>