<?xml version="1.0" encoding="utf-8"?>
<Media Key="7559e304-f451-4610-9c61-95da6bc65830" Alias="Tooth" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tooth</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:39</CreateDate>
    <NodeName Default="Tooth" />
    <SortOrder>1502</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gxrfs3kr/tooth.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>