<?xml version="1.0" encoding="utf-8"?>
<Media Key="493b932f-8389-4929-aafe-5db23e74da7b" Alias="Tractor" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tractor</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:41</CreateDate>
    <NodeName Default="Tractor" />
    <SortOrder>1505</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d0jdwsmj/tractor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>