<?xml version="1.0" encoding="utf-8"?>
<Media Key="4473266c-2752-4b25-b219-92de389cbd13" Alias="Train" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Train</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:43</CreateDate>
    <NodeName Default="Train" />
    <SortOrder>1509</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/luthgrcs/train.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>