<?xml version="1.0" encoding="utf-8"?>
<Media Key="95f2ff2b-803a-4edf-a7f2-d5b1c5927858" Alias="Tram" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:43</CreateDate>
    <NodeName Default="Tram" />
    <SortOrder>1510</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dl5pffj0/tram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>