<?xml version="1.0" encoding="utf-8"?>
<Media Key="55f116f9-8ec0-44f2-a7a4-c8db8d5b7b04" Alias="Trash Restore" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TrashRestore</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:46</CreateDate>
    <NodeName Default="Trash Restore" />
    <SortOrder>1515</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zalpcvoa/trash-restore.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>