<?xml version="1.0" encoding="utf-8"?>
<Media Key="01fe99e2-3977-422c-ae18-a783e6a6249c" Alias="Trash Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TrashAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:35</CreateDate>
    <NodeName Default="Trash Alt" />
    <SortOrder>602</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0omp2alx/trash-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>