<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7c1ce2c-e3ea-4613-998e-6d1960b1c77b" Alias="Trello" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Trello</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:17</CreateDate>
    <NodeName Default="Trello" />
    <SortOrder>391</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dxhmdn5k/trello.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>