<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc74cbb5-a63d-404e-8ade-e9e08c69c94c" Alias="Truck Moving" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TruckMoving</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:49</CreateDate>
    <NodeName Default="Truck Moving" />
    <SortOrder>1522</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qtfhjxb3/truck-moving.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>