<?xml version="1.0" encoding="utf-8"?>
<Media Key="8be0b983-d034-476c-af5c-37a12125a67a" Alias="Truck Pickup" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TruckPickup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:50</CreateDate>
    <NodeName Default="Truck Pickup" />
    <SortOrder>1523</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wk2pbczu/truck-pickup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>