<?xml version="1.0" encoding="utf-8"?>
<Media Key="95ed7150-6a32-42e6-8f24-71f052c7824f" Alias="Tty" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tty</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:51</CreateDate>
    <NodeName Default="Tty" />
    <SortOrder>1525</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mfyp1fjs/tty.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>