<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c6b8981-39c1-4798-8a71-36c83b16f99f" Alias="Tumblr" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tumblr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:18</CreateDate>
    <NodeName Default="Tumblr" />
    <SortOrder>392</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wcehwtgb/tumblr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>