<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6b0e33e-afe5-4a92-92e7-77b8545e231f" Alias="Tumblr Square" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TumblrSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:18</CreateDate>
    <NodeName Default="Tumblr Square" />
    <SortOrder>393</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b5rlbzxf/tumblr-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>