<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9590296-6f27-4577-91d1-3759f6faef30" Alias="Tv" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Tv</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:51</CreateDate>
    <NodeName Default="Tv" />
    <SortOrder>1526</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u2bft4jh/tv.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>