<?xml version="1.0" encoding="utf-8"?>
<Media Key="828fe9f9-acbb-40a1-bc38-bae70b0a80f6" Alias="Twitter Square" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/TwitterSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:19</CreateDate>
    <NodeName Default="Twitter Square" />
    <SortOrder>396</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zduj5av1/twitter-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>