<?xml version="1.0" encoding="utf-8"?>
<Media Key="74cb4e48-0ff9-47af-b9be-fda591e874a1" Alias="Typo3" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Typo3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:19</CreateDate>
    <NodeName Default="Typo3" />
    <SortOrder>397</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pfhmw3hz/typo3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>