<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa46287a-1cfc-4b9f-ac00-a6fd02328647" Alias="Ubuntu" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Ubuntu</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:19</CreateDate>
    <NodeName Default="Ubuntu" />
    <SortOrder>399</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jmuen4x2/ubuntu.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>