<?xml version="1.0" encoding="utf-8"?>
<Media Key="63fa21b1-a051-4ca2-8654-31476cc20906" Alias="Uikit" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Uikit</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:19</CreateDate>
    <NodeName Default="Uikit" />
    <SortOrder>400</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qaqpuy0r/uikit.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>