<?xml version="1.0" encoding="utf-8"?>
<Media Key="64bfa718-2a6c-49a5-8397-a9ca63bad8c5" Alias="Umbrella" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Umbrella</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:52</CreateDate>
    <NodeName Default="Umbrella" />
    <SortOrder>1527</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fgtl4zdm/umbrella.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>