<?xml version="1.0" encoding="utf-8"?>
<Media Key="17062411-0b5e-4c50-926d-1ad94dd1839d" Alias="Underline" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Underline</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:53</CreateDate>
    <NodeName Default="Underline" />
    <SortOrder>1529</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/easamf04/underline.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>