<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9fa2367-142f-4d11-a8d5-41f6a3aff6a6" Alias="Undo" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Undo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:53</CreateDate>
    <NodeName Default="Undo" />
    <SortOrder>1530</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kyrpvojp/undo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>