<?xml version="1.0" encoding="utf-8"?>
<Media Key="a02d2182-1738-49a4-8845-ca61198c0ceb" Alias="Universal Access" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UniversalAccess</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:54</CreateDate>
    <NodeName Default="Universal Access" />
    <SortOrder>1532</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wmqd1iby/universal-access.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>