<?xml version="1.0" encoding="utf-8"?>
<Media Key="1027d828-d47f-4c14-b649-1002f617e425" Alias="Unlock Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UnlockAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:32:56</CreateDate>
    <NodeName Default="Unlock Alt" />
    <SortOrder>1536</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhmcoed5/unlock-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>