<?xml version="1.0" encoding="utf-8"?>
<Media Key="254d0159-731d-4189-8541-11d59e3a28a2" Alias="Unsplash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:21</CreateDate>
    <NodeName Default="Unsplash" />
    <SortOrder>405</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/naaf0ji3/unsplash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>