<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d313f55-652e-4545-90d4-df7b5ebe4437" Alias="User Lock" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserLock</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:04</CreateDate>
    <NodeName Default="User Lock" />
    <SortOrder>1550</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mq5dcljo/user-lock.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>