<?xml version="1.0" encoding="utf-8"?>
<Media Key="561974ce-0fbd-4872-a5c1-26659425bf3f" Alias="User Shield" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserShield</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:08</CreateDate>
    <NodeName Default="User Shield" />
    <SortOrder>1559</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/530bsvv3/user-shield.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>