<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0c67fad-f884-4e4c-a664-1d209a40f668" Alias="Users Slash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UsersSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:09</CreateDate>
    <NodeName Default="Users Slash" />
    <SortOrder>1561</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tr5nnmee/users-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>