<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff6483fd-bce6-4d4b-bba6-b65d87a7840a" Alias="User Edit" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserEdit</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:02</CreateDate>
    <NodeName Default="User Edit" />
    <SortOrder>1546</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zsbhj55g/user-edit.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>