<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a2b3860-2e80-4f8e-82a7-a07841ac6c9a" Alias="Users" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Users</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:06</CreateDate>
    <NodeName Default="Users" />
    <SortOrder>1556</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ke2cw0ua/users.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>