<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea240ab5-da91-458b-b55f-37f3069b1712" Alias="User Tie" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserTie</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:10</CreateDate>
    <NodeName Default="User Tie" />
    <SortOrder>1563</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qqfcj0ur/user-tie.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>