<?xml version="1.0" encoding="utf-8"?>
<Media Key="35c1cee0-1cae-4721-bd4a-b846118712ab" Alias="User Graduate" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserGraduate</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:03</CreateDate>
    <NodeName Default="User Graduate" />
    <SortOrder>1548</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0hhmcnno/user-graduate.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>