<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bd03f2b-b0be-41e0-9408-7f8a499d27c2" Alias="User Plus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserPlus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:06</CreateDate>
    <NodeName Default="User Plus" />
    <SortOrder>1555</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/di5nak34/user-plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>