<?xml version="1.0" encoding="utf-8"?>
<Media Key="b28f94a6-2c00-4b90-b6ca-eda87ab9461b" Alias="User Minus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserMinus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:05</CreateDate>
    <NodeName Default="User Minus" />
    <SortOrder>1552</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s4ki5mqa/user-minus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>