<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b35b2a9-33a1-4aac-9485-0d18776acc36" Alias="User Circle" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserCircle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:36</CreateDate>
    <NodeName Default="User Circle" />
    <SortOrder>604</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tczdk43b/user-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>