<?xml version="1.0" encoding="utf-8"?>
<Media Key="6772dcb0-dc14-496b-a4bf-279304cb5be9" Alias="Users Cog" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UsersCog</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:07</CreateDate>
    <NodeName Default="Users Cog" />
    <SortOrder>1557</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qhohezyu/users-cog.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>