<?xml version="1.0" encoding="utf-8"?>
<Media Key="7408ed0c-353d-4bc2-82e3-74a5d0bae2f4" Alias="User Circle (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/UserCircle1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:00</CreateDate>
    <NodeName Default="User Circle (1)" />
    <SortOrder>1543</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hxwbq3b3/user-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>