<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8ff3716-0dc6-4265-b56f-d10fa62c2923" Alias="Venus Mars" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/VenusMars</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:13</CreateDate>
    <NodeName Default="Venus Mars" />
    <SortOrder>1570</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e21p50gg/venus-mars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>