<?xml version="1.0" encoding="utf-8"?>
<Media Key="d59e9666-a1b4-4797-9651-7a70160e69f0" Alias="Vest Patches" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/VestPatches</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:14</CreateDate>
    <NodeName Default="Vest Patches" />
    <SortOrder>1572</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k4lj3vnu/vest-patches.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>