<?xml version="1.0" encoding="utf-8"?>
<Media Key="c278aed4-0708-4515-b3ac-88c2bf39e297" Alias="Vest" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Vest</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:14</CreateDate>
    <NodeName Default="Vest" />
    <SortOrder>1571</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2wxhrqqi/vest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>