<?xml version="1.0" encoding="utf-8"?>
<Media Key="56e3a781-65a4-4b0f-a747-b396d02f412a" Alias="Video Slash" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/VideoSlash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:16</CreateDate>
    <NodeName Default="Video Slash" />
    <SortOrder>1576</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wctpgvve/video-slash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>