<?xml version="1.0" encoding="utf-8"?>
<Media Key="10c86fc5-2ffb-467d-a939-7f7a9d6fc669" Alias="Vihara" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Vihara</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:17</CreateDate>
    <NodeName Default="Vihara" />
    <SortOrder>1577</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4rxnqeh1/vihara.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>