<?xml version="1.0" encoding="utf-8"?>
<Media Key="25afa820-6ba0-418d-b3e3-58b9a4b993bb" Alias="Viruses" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Viruses</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:18</CreateDate>
    <NodeName Default="Viruses" />
    <SortOrder>1579</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cguk4jna/viruses.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>