<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d01ca88-11fc-41fd-b065-8a73d7213113" Alias="Virus" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Virus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:17</CreateDate>
    <NodeName Default="Virus" />
    <SortOrder>1578</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xhfachp2/virus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>