<?xml version="1.0" encoding="utf-8"?>
<Media Key="90064fad-e213-4234-b907-7568fba012d0" Alias="Volleyball Ball" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/VolleyballBall</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:19</CreateDate>
    <NodeName Default="Volleyball Ball" />
    <SortOrder>1582</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/trhbneat/volleyball-ball.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>