<?xml version="1.0" encoding="utf-8"?>
<Media Key="e756f9bd-f26a-4b88-bcd9-80c3f801569d" Alias="Vr Cardboard" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/VrCardboard</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:22</CreateDate>
    <NodeName Default="Vr Cardboard" />
    <SortOrder>1588</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rt2fnz1k/vr-cardboard.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>