<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd8a84b7-0c3e-4e3e-985c-0b4de7dad034" Alias="Vuejs" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Vuejs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:25</CreateDate>
    <NodeName Default="Vuejs" />
    <SortOrder>422</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q0civpj4/vuejs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>