<?xml version="1.0" encoding="utf-8"?>
<Media Key="a943bae5-39ea-430c-ad12-4bfa73cc596b" Alias="Wallet" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Wallet</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:23</CreateDate>
    <NodeName Default="Wallet" />
    <SortOrder>1590</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0s3ehkpk/wallet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>