<?xml version="1.0" encoding="utf-8"?>
<Media Key="83ffba21-9300-4b23-811a-4e8069770028" Alias="Wave Square" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/WaveSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:25</CreateDate>
    <NodeName Default="Wave Square" />
    <SortOrder>1593</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cc3p5aya/wave-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>