<?xml version="1.0" encoding="utf-8"?>
<Media Key="d224e54e-ddb5-4b66-8f6b-fba172266bed" Alias="Weibo" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Weibo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:25</CreateDate>
    <NodeName Default="Weibo" />
    <SortOrder>426</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p5sdjuvv/weibo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>