<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc189833-e91e-46d3-ad88-1686ef257508" Alias="Weight" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Weight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:26</CreateDate>
    <NodeName Default="Weight" />
    <SortOrder>1594</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/akmbrpa4/weight.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>