<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2e8b554-8a72-4fdd-b418-4e5d266b0a34" Alias="Wheelchair" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Wheelchair</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:27</CreateDate>
    <NodeName Default="Wheelchair" />
    <SortOrder>1596</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mw0prmts/wheelchair.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>