<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b4e9d31-d08e-4ff3-991f-20fe7fb8665e" Alias="Wikipedia W" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/WikipediaW</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:27</CreateDate>
    <NodeName Default="Wikipedia W" />
    <SortOrder>431</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/acof3g2o/wikipedia-w.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>