<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c848570-0d84-4c44-9a38-9b446ca0e4dc" Alias="Window Close" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/WindowClose</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:26:36</CreateDate>
    <NodeName Default="Window Close" />
    <SortOrder>605</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/igcjihee/window-close.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>