<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5306f68-bc4b-4aac-b47d-8cac1a11ac15" Alias="Window Minimize (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/WindowMinimize1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:29</CreateDate>
    <NodeName Default="Window Minimize (1)" />
    <SortOrder>1601</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lfxdbzkl/window-minimize.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>