<?xml version="1.0" encoding="utf-8"?>
<Media Key="7987db47-eb01-42ad-ba42-4f2ab0bf92f4" Alias="Window Restore (1)" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/WindowRestore1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:30</CreateDate>
    <NodeName Default="Window Restore (1)" />
    <SortOrder>1602</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o1njo4ib/window-restore.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>