<?xml version="1.0" encoding="utf-8"?>
<Media Key="f57785e1-7c7e-4c4a-a69f-eb64249def4f" Alias="Wine Bottle" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/WineBottle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:30</CreateDate>
    <NodeName Default="Wine Bottle" />
    <SortOrder>1603</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0cchp3l4/wine-bottle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>