<?xml version="1.0" encoding="utf-8"?>
<Media Key="203b33db-5465-4bb1-b210-ed31d7e8ca56" Alias="Wine Glass Alt" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/WineGlassAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:31</CreateDate>
    <NodeName Default="Wine Glass Alt" />
    <SortOrder>1605</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3izdwidf/wine-glass-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>