<?xml version="1.0" encoding="utf-8"?>
<Media Key="7216e7e7-b349-4e9e-acf8-25170d7392c4" Alias="Wix" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Wix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:27</CreateDate>
    <NodeName Default="Wix" />
    <SortOrder>433</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/01tbm2sj/wix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>