<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae6a2138-b8ce-43fb-9a81-807b8f98746f" Alias="Wpbeginner" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Wpbeginner</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:28</CreateDate>
    <NodeName Default="Wpbeginner" />
    <SortOrder>439</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/beqhvlwo/wpbeginner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>