<?xml version="1.0" encoding="utf-8"?>
<Media Key="c612021a-4ecf-418e-8edc-c30707be39bd" Alias="X Ray" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/XRay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:33</CreateDate>
    <NodeName Default="X Ray" />
    <SortOrder>1608</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fmbbfrwp/x-ray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>