<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9b480e6-7acd-4f78-98aa-dd232b10b9cb" Alias="Xbox" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Xbox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:29</CreateDate>
    <NodeName Default="Xbox" />
    <SortOrder>443</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04aljson/xbox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>