<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b1abf26-f4f7-4ff0-8c30-1a99d0462ce6" Alias="Yahoo" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Yahoo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:30</CreateDate>
    <NodeName Default="Yahoo" />
    <SortOrder>446</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c45buk5x/yahoo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>