<?xml version="1.0" encoding="utf-8"?>
<Media Key="4284c9ef-c6cb-454a-9313-f7b8286979a9" Alias="Yen Sign" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/YenSign</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:33:33</CreateDate>
    <NodeName Default="Yen Sign" />
    <SortOrder>1609</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/11ejiqwl/yen-sign.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>