<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2bf7fa9-d72e-420b-8e95-46918aeac962" Alias="Yoast" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Yoast</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:32</CreateDate>
    <NodeName Default="Yoast" />
    <SortOrder>453</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tb5l52ro/yoast.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>