<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac885e3e-3a03-41ad-9246-e12644e071dc" Alias="Zhihu" Level="2">
  <Info>
    <Parent Key="ea232eee-5087-467e-8a2e-efe84f5e1be7">Badge Icons</Parent>
    <Path>/BadgeIcons/Zhihu</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-30T10:25:32</CreateDate>
    <NodeName Default="Zhihu" />
    <SortOrder>456</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3pirlad/zhihu.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>