@using Quiz.Site.Models.EmailViewModels
@using Quiz.Site.Models
@using System.Web
@inherits EmailBaseViewPage<ForgottenPasswordRequestEmailModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Already Registered</title>
    <style>
        .button{
            background-color: #5e72e4;
            border-color: #ffffff;
            border: 0;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: 1rem;
            letter-spacing: -0.025rem;
            text-transform: none;
            box-shadow: 0 4px 6px rgb(50 50 93 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
            -webkit-appearance: button;
            transition: all 0.15s ease-in;
            padding: 0.875rem 4rem ;
            font-weight: 700;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td>
                <table style="width: 600px; margin-left:auto;margin-right:auto;">
                    <tr>
                        <td style="background-color: #5e72e4; color: #ffffff ; text-align:center;font-size:28px;padding:40px">
                            <a href="@Model.SiteDomain" style="color: #ffffff;" target="_blank" rel="nofollow noopener"><h1>Umbraco Community Quiz</h1></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 60px">
                            <p>Hi,</p>
                            <p>Thank you for requesting a forgotten password link.<br/> This link is only valid for the next 60 minutes.</p>
                            <p><a class="button" href="@Model.ForgottenPasswordPageUrl&t=@HttpUtility.UrlEncode(Model.Token)">Reset Password</a></p>
                            <p>If you did not make this request, please reach out to the <span style="font-size: 16px; font-weight: bold;">Community Quiz Team</span> as a priority in order to protect your account.</p>
                            <p style="margin-top: 20px; margin-bottom: 25px;">Kind regards<br/><br/>The <span style="font-size: 16px; font-weight: bold;">Community Quiz Team</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #5e72e4; color: #ffffff ; text-align:center;font-size:28px;padding:20px"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>