<?xml version="1.0" encoding="utf-8"?>
<DataType Key="481d3f0f-ad18-45dd-a273-759218ae4836" Alias="[DataList] Question Multi Picker" Level="1">
  <Info>
    <Name>[DataList] Question Multi Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Quiz.Site.DataListSources.QuestionDataSource+TimeZoneDataSource, Quiz.Site",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-help-alt color-black",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 10,
        "allowClear": "1",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>