<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be968c0b-42c5-4509-b34a-d448be67092a" Alias="[DataList] Question Status" Level="1">
  <Info>
    <Name>[DataList] Question Status</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "Quiz.Site",
          "Quiz.Site.Enums.QuestionStatus"
        ],
        "sortAlphabetically": "1"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>