<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37bde2e5-60c7-4958-b875-7ecaf89db91b" Alias="[DataList] Badge Multi Picker" Level="1">
  <Info>
    <Name>[DataList] Badge Multi Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "//homePage/badgeListPage"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>