<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af6f02ff-3e4f-47f8-a3ec-606929e31191" Alias="Eye Dropper Colour Picker" Level="1">
  <Info>
    <Name>Eye Dropper Colour Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": true
}]]></Config>
</DataType>