<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad29b3b3-d075-4844-b8ec-c19b282a7020" Alias="404 Error Page" Level="2">
  <Info>
    <Parent Key="4862f10c-0d46-43bf-b9d2-232040367086">Home</Parent>
    <Path>/Home/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>page404</ContentType>
    <CreateDate>2022-10-13T07:52:49</CreateDate>
    <NodeName Default="404 Error Page" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a15b56df-7864-497d-87d6-8da8dc321eb8">Page404</Template>
  </Info>
  <Properties />
</Content>