<?xml version="1.0" encoding="utf-8"?>
<Content Key="b64b8757-ef1f-40bd-95cd-1b7e3534fee4" Alias="Early Adopter" Level="3">
  <Info>
    <Parent Key="8a649b6f-7690-4f60-8277-1865b788f1d8">Badges</Parent>
    <Path>/Home/Badges/EarlyAdopter</Path>
    <Trashed>false</Trashed>
    <ContentType>badgePage</ContentType>
    <CreateDate>2022-10-11T16:21:08</CreateDate>
    <NodeName Default="Early Adopter" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a57e27e-d883-4bda-bc8c-ee78a7fc44f9">BadgePage</Template>
  </Info>
  <Properties>
    <colour>
      <Value><![CDATA[#bf9000]]></Value>
    </colour>
    <description>
      <Value><![CDATA[<p>Login to the Umbraco Community Quiz within a month of its initial launch!</p>]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "7e00d54d-bb54-43e6-94fd-de59964dcae6",
    "mediaKey": "692337b3-ed84-4d17-a8c0-393c27f7f246"
  }
]]]></Value>
    </image>
  </Properties>
</Content>