<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6c3018e-ad92-4085-aadd-5d63bbcbbd26" Alias="Perfect Score" Level="3">
  <Info>
    <Parent Key="8a649b6f-7690-4f60-8277-1865b788f1d8">Badges</Parent>
    <Path>/Home/Badges/PerfectScore</Path>
    <Trashed>false</Trashed>
    <ContentType>badgePage</ContentType>
    <CreateDate>2022-09-30T10:38:57</CreateDate>
    <NodeName Default="Perfect Score" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a57e27e-d883-4bda-bc8c-ee78a7fc44f9">BadgePage</Template>
  </Info>
  <Properties>
    <colour>
      <Value><![CDATA[#6aa84f]]></Value>
    </colour>
    <description>
      <Value><![CDATA[<p>Get a perfect score</p>]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "ef06fc28-1ede-4d0a-8b80-8c8f664a5caa",
    "mediaKey": "6329e3cd-1a2f-42ab-a1fc-228880b30da0"
  }
]]]></Value>
    </image>
  </Properties>
</Content>