<?xml version="1.0" encoding="utf-8"?>
<Content Key="22883fab-0064-4f89-bc01-4aecc858a8e9" Alias="Quizzes" Level="2">
  <Info>
    <Parent Key="4862f10c-0d46-43bf-b9d2-232040367086">Home</Parent>
    <Path>/Home/Quizzes</Path>
    <Trashed>false</Trashed>
    <ContentType>quizListPage</ContentType>
    <CreateDate>2022-10-04T11:02:42</CreateDate>
    <NodeName Default="Quizzes" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da0e6944-78e7-4146-803a-f3f45e4e9f39">QuizList</Template>
  </Info>
  <Properties />
</Content>