<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7444873-c539-4fdf-82b9-d8c0e2d08930" Alias="Submit" Level="2">
  <Info>
    <Parent Key="4862f10c-0d46-43bf-b9d2-232040367086">Home</Parent>
    <Path>/Home/Submit</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmissionPage</ContentType>
    <CreateDate>2022-07-18T21:32:27</CreateDate>
    <NodeName Default="Submit" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e5870e8d-2b57-4ffb-bdc6-d3f9317085fc">QuestionSubmissionPage</Template>
  </Info>
  <Properties />
</Content>