<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb51ca9e-fee1-4d9c-9992-b8861125b160" Alias="Week 1 - The Pilot Quiz" Level="3">
  <Info>
    <Parent Key="6e392cee-0d0c-4938-8c80-4a7d215c0960">Quizzes</Parent>
    <Path>/Home/Quizzes/Week1ThePilotQuiz</Path>
    <Trashed>false</Trashed>
    <ContentType>quizPage</ContentType>
    <CreateDate>2022-09-23T05:01:44</CreateDate>
    <NodeName Default="Week 1 - The Pilot Quiz" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="597ca6ae-ecaa-4a64-a3cc-81f3d96de9cd">Quiz</Template>
  </Info>
  <Properties>
    <questions>
      <Value><![CDATA[]]></Value>
    </questions>
  </Properties>
</Content>