<?xml version="1.0" encoding="utf-8"?>
<Content Key="917df8ca-f17e-48cf-a89a-a5762dcd6564" Alias="Week 2 Quiz" Level="2">
  <Info>
    <Parent Key="4862f10c-0d46-43bf-b9d2-232040367086">Home</Parent>
    <Path>/Home/Week2Quiz</Path>
    <Trashed>false</Trashed>
    <ContentType>quizPage</ContentType>
    <CreateDate>2022-09-28T21:51:27</CreateDate>
    <NodeName Default="Week 2 Quiz" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4243d72b-e507-4bdb-8687-57bd1e20da55">QuizPage</Template>
  </Info>
  <Properties>
    <questions>
      <Value><![CDATA[[
  "1",
  "2",
  "3",
  "4"
]]]></Value>
    </questions>
  </Properties>
</Content>