<?xml version="1.0" encoding="utf-8"?>
<Content Key="3750f55f-0370-460e-8c06-54b062964231" Alias="Week 1 - The Launch Quiz" Level="3">
  <Info>
    <Parent Key="22883fab-0064-4f89-bc01-4aecc858a8e9">Quizzes</Parent>
    <Path>/Home/Quizzes/Week1TheLaunchQuiz</Path>
    <Trashed>false</Trashed>
    <ContentType>quizPage</ContentType>
    <CreateDate>2022-10-04T13:19:03</CreateDate>
    <NodeName Default="Week 1 - The Launch Quiz" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4243d72b-e507-4bdb-8687-57bd1e20da55">QuizPage</Template>
  </Info>
  <Properties>
    <questions>
      <Value><![CDATA[[
  "1",
  "2",
  "3",
  "6",
  "7",
  "8",
  "9",
  "10",
  "11",
  "12"
]]]></Value>
    </questions>
  </Properties>
</Content>