@using Quiz.Site.Extensions
@using Quiz.Site.Services
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inject IMemberManager memberManager;
@inject IAccountService accountService;
@inject IQuizResultRepository quizResultRepository;

@{
    Layout = "Master.cshtml";
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var profilePage = homePage.FirstChildOfType(ProfilePage.ModelTypeAlias);
    var leaderboardPage = homePage.FirstChildOfType(LeaderboardPage.ModelTypeAlias);
    var quizListPage = homePage.FirstChildOfType(QuizListPage.ModelTypeAlias);
    var quizUdis = quizListPage.Children.OrderBy(x => x.CreateDate).Select(x => x.GetUdiObject().ToString()); 
    var latestQuizPage = quizListPage.Children.OrderByDescending(x => x.CreateDate).FirstOrDefault();

    var user = await memberManager.GetCurrentMemberAsync();
    var member = accountService.GetMemberModelFromUser(user);
    var enrichedProfile = accountService.GetEnrichedProfile(member);

    var results = quizResultRepository.GetAllByMemberId(member.Id);
}

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain py-lg-3">
                            <div class="card-body text-left">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <h4 class="mb-0 font-weight-bolder">Login</h4>
                                    @await Component.InvokeAsync("Login")
                                    <p class="my-4">Don't have an account yet? <a href="/register/">Register here</a></p>
                                }
                                else
                                {
                                    <h4>Hello @enrichedProfile.Name.Split(new char[] {' '}, StringSplitOptions.RemoveEmptyEntries)[0]</h4>
                                    
                                    @if(enrichedProfile.Avatar == null)
                                    {
                                        <p>You haven't uploaded an avatar yet, you can do that <a href="/edit-profile/">here</a></p>
                                    }
                                    <p>Check out the <a href="/leaderboard/">leaderboard</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("SideBanner")
                </div>
            </div>
        </div>
    </section>
</main>