@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LoginPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain py-lg-3">
                            <div class="card-body text-left">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <h4 class="mb-0 font-weight-bolder">Login</h4>

                                    if(TempData.TryGetValue("PasswordReset", out var passwordHasReset)
                                            && passwordHasReset is bool passwordHasResetBool && passwordHasResetBool)
                                    {
                                        TempData.Remove("PasswordReset");
                                        <p class="text-success">Your password has successfully been reset.</p>
                                    }

                                    @await Component.InvokeAsync("Login")
                                    if(Model.Siblings<ForgottenPasswordPage>().FirstOrDefault() is ForgottenPasswordPage forgottenPasswordPage)
                                    {
                                        <p class="my-4">Can't login? <a href="@forgottenPasswordPage.Url()">Forgotten Password</a></p>
                                    }
                                    <p class="my-4">Don't have an account yet? <a href="/register/">Register here</a></p>
                                }
                                else
                                {
                                    <h4 class="mb-0 font-weight-bolder">Logged In</h4>
                                    using (Html.BeginUmbracoForm("Logout", "AuthSurface", FormMethod.Post))
                                    {
                                        <button class="btn btn-sm  btn-primary  mb-0 me-1" type="submit">Logout</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("SideBanner")
                </div>
            </div>
        </div>
    </section>
</main>