@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.QuestionSubmissionPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "DashboardMaster.cshtml";
}

<div class="p-5">
	<h4 class="mb-0 font-weight-bolder">Submit Question</h4>
	@await Component.InvokeAsync("SubmitQuestion")
</div>