@using Newtonsoft.Json
@using Quiz.Site.Models
@using Quiz.Site.Models.ContentModels
@using Quiz.Site.Services
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Web.Common.PublishedModels
@using Quiz.Site.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<QuizPageContentModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Master.cshtml";
}

<main class="main-content pt-5 mt-5">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain py-lg-3">
                            <div class="card-body text-left mx-auto w-lg-50 w-80 py-5">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <h4 class="mb-0 font-weight-bolder">Login</h4>
                                    @await Component.InvokeAsync("Login")
                                    <p class="my-4">Don't have an account yet? <a href="/register/">Register here</a></p>
                                }
                                else
                                {
                                    var success = TempData["Success"] as bool?;
                                    var completedQuizString = TempData["CompletedQuiz"] != null ? TempData["CompletedQuiz"].ToString() : "";
                                    var completedQuiz = JsonConvert.DeserializeObject<QuizViewModel>(completedQuizString);
                                    if(completedQuiz != null && success.HasValue && success.Value)
                                    {
                                        @await Component.InvokeAsync("Quiz", completedQuiz)
                                    }
                                    else
                                    {
                                        @await Component.InvokeAsync("Quiz", Model.Quiz)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>