@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.RegisterPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-body pb-3">
                    <h4 class="mb-0 font-weight-bolder">Register</h4>
                    @await Component.InvokeAsync("Register")
                </div>
                <div class="card-footer text-center pt-0 px-sm-4 px-1">
                  <p class="mb-4 mx-auto">
                    Already have an account?
                    <a href="/login/" class="text-primary font-weight-bold">Login</a>
                  </p>
                </div>
              </div>
            </div>
            @await Component.InvokeAsync("SideBanner")
          </div>
        </div>
      </div>
    </section>
  </main>